[2022-10-11 12:47] #231 closed

[2022-10-11 13:06] satendrapalsingh opened #512 "Document details of currently implemented logging"
Share details of the currently implemented logging. Use Grafana  and Prometheus for Infrastructure metrics and Graylog for Functional metrics.

**Questions**
Please confirm
1. We will share the currently implemented Grafana and Promethus details to Santhos G and Santhosh V.
2.  Grafana/Promethuues already implemented in admin console. Do we need to move this to someother place?
3. Graylog need to

[2022-10-11 13:09] satendrapalsingh opened #513 "Develop connector for enabling emission"
Connector for enabling emission - to be designed and developed.

[2022-10-11 13:11] satendrapalsingh opened #514 "Make data-level configurable via config file"
Student or school value for level of data is hardcoded.

**What is the expectation?**
28-Sep-2022: level of data should be definable by the config file

[2022-10-11 13:18] satendrapalsingh opened #515 "Implement configuration lifecycle management"
Implement configuration lifecycle management.
Create, List, Read, Update, Delete, etc for configurations.

Note
- Initial solution can be a github repo based approach

[2022-10-11 13:24] satendrapalsingh opened #516 "Review backlog video meeting - Ingestion API, Code Org, Flask, Config Files"
Review the Ingestion API, Code org, Flask, & Config Files discussion meeting video and add/refine items to the backlog.

_Note - Refer [cQube Internal Notes](https://docs.google.com/document/d/1mz5LjZfrswWpvQHl9IFjjyipMcrjJ4tK0JKPU87gaM4/edit#) document page-1 for video meeting link and passcode_

[2022-10-11 13:28] satendrapalsingh opened #517 "Review backlog video meeting - DevOps, SecOps"
Review the DevOps & SecOps discussion meeting video and add/refine items to the backlog.

_Note - Refer [cQube Internal Notes](https://docs.google.com/document/d/1mz5LjZfrswWpvQHl9IFjjyipMcrjJ4tK0JKPU87gaM4/edit#) document page-1 for video meeting link and passcode_

[2022-10-11 13:33] satendrapalsingh opened #518 "Review backlog video meeting - Architecture Discussion, Architecture Review"
Review the Architecture discussion & Architecture Review discussion meeting videos and add/refine items to the backlog.

_Note - Refer [cQube Internal Notes](https://docs.google.com/document/d/1mz5LjZfrswWpvQHl9IFjjyipMcrjJ4tK0JKPU87gaM4/edit#) document page-1 for video meetings links and passcodes_

[2022-10-11 13:41] krishnakr6 commented on #177
moved this to https://github.com/Sunbird-cQube/community/issues/169

[2022-10-11 13:41] #177 closed

[2022-10-11 13:42] #218 closed

[2022-10-11 13:48] satendrapalsingh opened #519 "Share Server Configuration files links"
Server Configuration files - share the links with Santhosh

[2022-10-11 13:50] satendrapalsingh opened #520 "Share the Python responsibilities"
Share the Python responsibilities in detailed with Santhosh

[2022-10-11 13:51] satendrapalsingh opened #521 "Share detailed architecture of Backend Configuration"
Detailed architecture of backend configuration - Share the details of configurations & Config files to Santhosh

[2022-10-11 13:55] satendrapalsingh opened #522 "Share the Flask and Gunicorn configuration details"
Here are the Flask & Gunicorn configuration details.
- https://github.com/Sunbird-cQube/cQube_Base/blob/release-3.7/ansible/roles/python_flask/tasks/configure_flask.yml
- https://github.com/Sunbird-cQube/cQube_Base/blob/release-3.7/ansible/roles/python_flask/templates/gunicorn.service.j2

[2022-10-11 14:06] krishnakr6 commented on #522
Shared also the above details in email on 01-Sep -2022.

 

[2022-10-11 15:17] #263 closed

[2022-10-11 15:18] #268 closed

[2022-10-11 15:19] #346 closed

[2022-10-11 15:21] #199 closed

[2022-10-11 15:23] #213 closed

[2022-10-11 15:24] #242 closed

[2022-10-11 15:26] #275 closed

[2022-10-11 15:27] #211 closed

[2022-10-11 15:27] #208 closed

[2022-10-11 15:43] #274 closed

[2022-10-11 15:44] #276 closed

[2022-10-11 15:44] #279 closed

[2022-10-11 15:44] #280 closed

[2022-10-11 15:45] #283 closed

[2022-10-11 15:45] #285 closed

[2022-10-11 15:45] #287 closed

[2022-10-11 15:46] #289 closed

[2022-10-11 15:46] #292 closed

[2022-10-11 15:46] #297 closed

[2022-10-11 15:48] #304 closed

[2022-10-11 15:48] #291 closed

[2022-10-11 15:49] #294 closed

[2022-10-11 15:49] #303 closed

[2022-10-11 15:49] #306 closed

[2022-10-11 15:49] #307 closed

[2022-10-11 15:49] #308 closed

[2022-10-11 15:50] #312 closed

[2022-10-11 15:50] #315 closed

[2022-10-11 15:50] #319 closed

[2022-10-11 15:50] #320 closed

[2022-10-11 15:51] #322 closed

[2022-10-11 15:51] #327 closed

[2022-10-11 15:51] #328 closed

[2022-10-11 15:51] #335 closed

[2022-10-11 15:51] #342 closed

[2022-10-11 15:52] #343 closed

[2022-10-11 15:52] #348 closed

[2022-10-11 15:52] #347 closed

[2022-10-11 15:52] #350 closed

[2022-10-11 15:52] #349 closed

[2022-10-11 15:53] #351 closed

[2022-10-11 15:53] #352 closed

[2022-10-11 15:53] #355 closed

[2022-10-11 15:53] #330 closed

[2022-10-11 15:53] #358 closed

[2022-10-11 15:53] #357 closed

[2022-10-11 15:54] #385 closed

[2022-10-12 05:00] satendrapalsingh opened #523 "Write test cases for Emission Data Storage"
There appear to be no test cases for Emission Data Storage.
- If they exist, please add links here for the same
- If they don't - write these test cases

[2022-10-12 05:05] satendrapalsingh opened #524 "Code refactoring for Emission Data Storage"
- [ ] **01. Code Structure**
The code structure is not consistent with sunbird standards.
I expected a basic organisation of the code into ingestion, processing, storage, metrics, query etc folders.
Please review this in detail with Anand P.

_Update_
Folder sructure is organised. Require inputs and then review.
https://github.com/Sunbird-cQube/cQube_Edu/tree/cqube-4.0-alpha

- [ ] **02. Code Read

[2022-10-12 05:13] satendrapalsingh opened #525 "Abstract out the Ingestion API from S3"
The ingestion API is fully hard coded with S3.
Are we only supporting AWS? If not, can you abstract out the cloud integration?
Please use libraries like libcloud.

_Analysis & Update_
cQube 4.0 will support On-Premise, AWS S3, and Azure blob storage.
Since we are sending the pre signed URL as response.
After analysis of libcloud library, currently it doesn't have  pre signed URL generation functio

[2022-10-12 05:20] satendrapalsingh opened #526 "Share test-cases and test-coverage report"
- [ ] 1. Move all the Testcases & coverage reports to the Sunbird cQube.

_update_
partially moved.

- [ ] 2. Share test coverage report. (e.g. SonarQube report)

[2022-10-12 05:32] satendrapalsingh opened #527 "Fix the GitHub folder structure and code organisation"
- [ ] 01. Refactor the folder Structure in GitHub -_Update: Review is pending_
- [ ] 02. Review code organisation with Anand P. Code review can happen only after some basic organisation. - _Update: Review is pending_
- [ ] 03. Create the separate repositories for each layer (Decoupling of the layers). New repositories already created. Update read-me for each repository. Utilities and properties re

[2022-10-12 05:41] satendrapalsingh opened #528 "Questions on Ingestion to Processing Architecture Review"
- [x] #755
- [x] #756
- [x] #757
- [x] #758
- [x] #759

[2022-10-12 05:58] satendrapalsingh opened #529 "Implement VPN-based-access alternative"
VPN-based access is currently not working for Admin Console (current approach is via user-id/password).
Need to fix this or drop VPN by moving to another secure alternative

[2022-10-12 06:00] RNarmatha opened #530 "Implementation of quality and security vulnerability"
Implementation of quality and security vulnerability checks via SonarQube. These quality and security checks should be triggered automatically on PR merge requests or actual PR merge.

**Comments**
Do we go with the standard install

[2022-10-12 06:01] satendrapalsingh opened #531 "Address visualization discrepancy - Area representation in Map Reports"
**Type of discrepancy**
Area Representation in map reports.

**In cQube-2**
District is represented as color-filled bounded areas on the map

**In cQube-4.0-alpha**
District is represented as a marker on the map

**Change agreed upon**
Go back to the original representation of districts (and blocks, clusters, schools, etc.) as color-filled bounded areas instead of markers on the map. Caveat - need

[2022-10-12 06:03] RNarmatha opened #532 "Implementation of CI/CD (Build jobs automatically )"
Implement CI/CD (Build jobs automatically ) - using tools like CircleCI etc.

**Comments**

-   Do we go with the CircleCI standard installation/workflow/rules for are there some specific considerations to make (like CircleCi for node, angular, python applications)

-   Any other tools in conjunction with CircleCI to help us (like the circleci/browser-tools@1.4.0 for browser testing)"

[2022-10-12 06:03] satendrapalsingh opened #533 "Address visualization discrepancy - Progress card/button placement"
**Type of discrepancy**
Access the Progress card/button.

**In cQube-2**
It is included as a dashboard item which includes needed progress cards across the application

**In cQube-4.0-alpha**
Currently no need for an extra link as all the progress cards can be accessed under a separate single page (from left-hand navigation menu)

**Change agreed upon**
Consider providing the Progress card/button

[2022-10-12 06:05] satendrapalsingh opened #534 "Address visualization discrepancy - Report descriptions"
**Type of discrepancy**
Description for each report.

**In cQube-2**
Present in cQube-1 reports

**In cQube-4.0-alpha**
Not present in cQube-2 reports

**Change agreed upon**
Descriptions should be added to all cQube-2 reports (VSK, nVSK). Requirement - need description data (text) for all cQube-2 reports

[2022-10-12 06:05] RNarmatha opened #535 "Ensure DevOps best practices"

[2022-10-12 06:08] RNarmatha opened #536 "Multinode system and Microservices architecture model"
Multinode system & Microservices architecture model instead of maintaining single server deployment

**Comments**
https://docs.google.com/document/d/1mz5LjZfrswWpvQHl9IFjjyipMcrjJ4tK0JKPU87gaM4/edit#

[2022-10-12 06:11] RNarmatha opened #537 "Implementation of Auto scaling"
Auto scaling should be implemented to reduce the usage and cost

[2022-10-12 06:13] RNarmatha opened #538 "PostgreSQL DB architecture improvements"
PostgreSQL DB architecture improvements

1. use Jinja template in postgres file
2. Create 2 users in postgres. One for application and one for user

[2022-10-12 06:15] RNarmatha opened #539 "Nginx configuration and installation using ansible"
Nginx configuration and installation should be done using ansible

[2022-10-12 06:18] RNarmatha opened #540 "Implement docker to containerize"

[2022-10-12 06:22] RNarmatha opened #541 "Implement Graylog data logs"
1. Implement graylog for data logs and logs should not be inside admin console
2. Log paths should be dynamic instead of being hard-coded

[2022-10-12 06:24] RNarmatha opened #542 "Automatic triggering of unit tests"
Automatic triggering of unit tests on every source-code commit on a branch

**Comments**

Need to identify which branches this should apply to (it's a good idea to turn it on at least of dev and QA branches

[2022-10-12 06:26] RNarmatha opened #543 "Setup auto-start and monitoring of applications"
Enable auto-start of applications using the systemd tool and set-up continuous monitoring

[2022-10-12 06:29] RNarmatha opened #544 "Plan and implement branching strategy"
Maintain tags for each release branch and/or hotfix branches.
Consider “X” as a major, “Y” as a minor and “Z” as a Hotfix.

**Comments**
https://docs.google.com/document/d/1mz5LjZfrswWpvQHl9IFjjyipMcrjJ4tK0JKPU87gaM4/edit#

[2022-10-12 06:31] FaizanMohammed326 commented on #445
Fixed now u can retest it.

[2022-10-12 06:32] RNarmatha opened #545 "Artifact Management"

[2022-10-12 06:34] RNarmatha opened #546 "Implement Ci/CD process using Genkin tool"
Implement CI/CD process using jenkin tool to automate the deployment by maintaining the folder structure. For Eg: Environment folder. In this, maintain the folders like Dev, QA & Prod. In each folder, maintain the sub-folders like Deployment, Provision and Operation

[2022-10-12 06:34] satendrapalsingh opened #547 "Support one PostgreSQL conditional statement in input"
Support One conditional statement and it can be any supported condition in postgreSQL.
Ex : student_id is not null or student_id in (1,2,3)

_Update_
What is the expectation?

[2022-10-12 06:36] RNarmatha opened #548 "Maintain the logs"
Maintain the logs to count the number of API requests coming to Nginx.

[2022-10-12 06:36] satendrapalsingh opened #549 "Auto-generated queries should be PostgreSQL specific"

[2022-10-12 06:38] RNarmatha opened #550 "Alerts should be Configured"
Alerts should be configured by using alert manager in Prometheus.

[2022-10-12 06:39] RNarmatha opened #551 "Changing the Config file path to Dynamic"
Change the Log  file path to dynamic  instead of hard coding and Logs should be displayed separately (Should not be included in angular and node applications).

[2022-10-12 06:39] satendrapalsingh opened #552 "Make changes to cQube data sources emission and processing frequency"
Currently cQube allows data sources to emit data (CSV files archived as ZIP) any number of times in a day.
cQube processes them for each data-source in a sequence starting with the oldest file and picking next files for the day, de-duplicating, and merging all files for a day.

_Update_
1. cQube3.7 Ingestion API sends s3 presinged url as response with 1 hour expiry time,
2. JWT token is passed in

[2022-10-12 06:41] RNarmatha opened #553 "PR Review Document"
PR Review doc to document review process (bring PRs to a project, next step: assign reviewers, track its completion) and review guidelines (how to review a PR for quality, code style, etc.)

**Comments**

All team leads to contribute process/guidelines to this document

[2022-10-12 06:43] satendrapalsingh opened #554 "Explore cQube multi-tenant architecture option"
Currently cQube is designed to be deployed for each State/adopter.
It is not a multi-tenant system. So, data isolation is already in place.

_Update_
What is the expectation? Should we explore multi-tenant architecture for cQube?

[2022-10-12 06:43] FaizanMohammed326 commented on #396
Please retest it, the code is merged.

[2022-10-12 06:44] satendrapalsingh opened #555 "Limit data size for Ingestion API"
Limit the data size while calling the Ingestion API.

_Update_
Need more information on this.

[2022-10-12 06:59] Inchara98 commented on #404
Working as expected

[2022-10-12 06:59] #404 closed

[2022-10-12 07:33] ayesha-siddiq123 commented on #472
@satendrapalsingh @htvenkatesh
Documentation for Upgrade process( Edu v1.5>=v4.0)
#472
version (edu v1.5 ) is not there, please clear me the verison here for upgradation document.

[2022-10-12 08:37] TanushreeSG commented on #483
Working as expected

[2022-10-12 09:53] FaizanMohammed326 commented on #481
its already fixed. pls pull the latest code and retest it.

[2022-10-12 10:27] chetandg123 commented on #410
@Sharathnaik38 @htvenkatesh login is not working for default users saying invalid credentials

![Image](https://user-images.githubusercontent.com/64146636/195319383-ef29bcd4-cd63-4aea-8e82-3da42e297fe9.png)

[2022-10-12 11:06] htvenkatesh commented on #410
@Sharathnaik38 Please check on this as priority and close this asap

[2022-10-12 11:14] Sharathnaik38 commented on #410
@asifbasha61  can you please add DB details in auth-api .env which i shared you.

[2022-10-12 11:40] Inchara98 commented on #445
Working as expected

[2022-10-12 11:40] #445 closed

[2022-10-12 11:40] TanushreeSG commented on #398
working as expected

[2022-10-12 11:40] #398 closed

[2022-10-12 11:40] devu1454 opened #556 "Summary statistics for textbook_distribution is not working"
After processing of the textbook_distribution configuration file and textbook_distribution_data file. Summary statistics for textbook_distribution is not displaying

![Image](https://user-images.githubusercontent.com/57621682/195333424-1bf3aff6-f9b6-465d-99a4-e191f3754acb.png)

[2022-10-12 11:43] TanushreeSG commented on #396
working as expected

[2022-10-12 11:43] #396 closed

[2022-10-12 12:13] Sharathnaik38 commented on #556
@padmanabha1234  please check the output file name it should be log_summary_textbook_distribution.json

![Image](https://user-images.githubusercontent.com/90701833/195339719-59d0d6c2-dea0-49be-a562-84b418d51389.png)

[2022-10-12 12:24] chetandg123 commented on #481
@FaizanMohammed326 @htvenkatesh Re-tested the defect it is working as expected.

[2022-10-12 12:26] chetandg123 commented on #506
@Sharathnaik38 @htvenkatesh
Issue1: **Resolved**
Issue2: is not resolved - login with report viewer user after entering the OTP he should navigate to dashboard screen instead of the home screen refer to the above image.

[2022-10-12 13:04] dhanush-2397 commented on #465
db table  "configurable_datasource_properties" is not present in demo 6 db. Please verify.

[2022-10-13 03:44] TanushreeSG commented on #345
Invalid

[2022-10-13 03:44] #345 closed

[2022-10-13 04:09] FaizanMohammed326 commented on #440
Issue 1 in this ticket has been fixed, yet to push the changes.
Today first half will look into the Issue 2 and resolve it.

[2022-10-13 04:10] RNarmatha opened #557 "test"

[2022-10-13 04:10] devu1454 commented on #446
Preparaed the total 32 test scenario's in the configuration testing (Includes both positive & negative scenario's)
https://docs.google.com/document/d/1eQPe4YwoUSUoyXDn-I5HaqbMdxnX9QxyG_tps2nWbRk/edit#heading=h.46nqgz16imsn

[2022-10-13 04:24] devu1454 opened #558 "creation of config table is not happening when config file contains reference table and reference columns"

[2022-10-13 04:27] padmanabha1234 commented on #483
diksha_map_etb_state query is not returning any data. assigned to @PavitraIR

[2022-10-13 04:29] devu1454 opened #559 "Lo table report is not displaying in textbook_distribution"
In configuration file We included only lo_table  report and tried to process it.
Configuration file is successfully processed and data processing also successfully processed.
Issue : Ui report is not showing lo table

[2022-10-13 04:56] Inchara98 commented on #394
Retested not fixed

![Image](https://user-images.githubusercontent.com/89445054/195505144-dc0c46a5-1f75-46dc-93a8-a360b3a02e8c.png)

[2022-10-13 04:58] TanushreeSG opened #560 "Other Diksha metrics legend issue"
There is no space between two words
Other Diksha metrics(Content preference)

![Image](https://user-images.githubusercontent.com/114054046/195505287-cf7f082b-5568-45de-a865-aed1cf599e8a.png)

[2022-10-13 04:58] Inchara98 commented on #397
Please change that link colour to blue

[2022-10-13 05:01] Shoaib15khan opened #561 "Learning session"
Providing KT on Metrics test .

[2022-10-13 05:04] Inchara98 commented on #436
Working as expected

[2022-10-13 05:04] #436 closed

[2022-10-13 05:15] TanushreeSG commented on #421
working as Expected

[2022-10-13 05:16] #421 closed

[2022-10-13 05:16] Inchara98 commented on #439
Retested not fixed

[2022-10-13 05:25] satendrapalsingh commented on #476
@bommalla Please connect with @Shoaib15khan and create a sheet with benchmarking test case plan and share for review with @htvenkatesh , @krishnakr6 , @devu1454 , @RNarmatha .

Post that you can continue to actually record the benchmark performance.

[2022-10-13 06:06] krishnakr6 commented on #410
Added PR #433

[2022-10-13 06:26] pandutibil commented on #191
Only heart chart implementation is pending other than that removed the highchart dependencies accross the app

[2022-10-13 07:18] RNarmatha commented on #250
Testing is Completed and working as expected

[2022-10-13 07:24] JalajaTR commented on #558
Fixed the issue and the code is available in github

[2022-10-13 07:43] Shoaib15khan opened #562 "Ingestion API testing"
Testing the  working of  Ingestion API  for uploading files in all the  storage types.
Testing whether the validity of  generated pre-signed URL.

[2022-10-13 07:49] dhanush-2397 commented on #425
@manjulacg Expected result: Report On Textbook Distribution Access By Lo Table For:
Do we need to replace "location" by "lo"?

[2022-10-13 08:05] chetandg123 opened #563 "Update password screen is missing after installation of cQube"
Installed the cQube-4.0 Beta in the machine

- Enter the default user name and password and click on the login button
- Update password screen should be displayed instead of scanning screen

[2022-10-13 08:07] chetandg123 commented on #410
@Sharathnaik38 @htvenkatesh  Re-tested below issues ->
- For default user also getting scanning screen - **Fail**

[2022-10-13 08:30] chetandg123 opened #564 "Azure Installation - Admin console screen is not working"
Installed the Azure cQube
- Click on the Admin console button showing the below errors

![Image](https://user-images.githubusercontent.com/64146636/195545023-d504c0c7-8140-432a-9265-6833b66a4bab.png)

[2022-10-13 08:44] chetandg123 opened #565 "Azure - while processing main_metrics file getting error"
processing the main_metrics.zip file to azure (cqube-state-emission) -> aggregate data processor group throwing error
**Issue:** Azure Credentials are not updated

![Image](https://user-images.githubusercontent.com/64146636/195548188-2f94d00e-3014-4522-a7bf-c6af755359a9.png)

[2022-10-13 08:59] Inchara98 commented on #394
Blocks and clusters in the dropdown are not coming in bold letters

[2022-10-13 08:59] #394 closed

[2022-10-13 08:59] TanushreeSG commented on #440
Working as expected

[2022-10-13 08:59] #440 closed

[2022-10-13 09:01] Inchara98 commented on #397
Working as expected

[2022-10-13 09:01] #397 closed

[2022-10-13 09:02] TanushreeSG commented on #439
Fixed

[2022-10-13 09:02] #439 closed

[2022-10-13 09:17] Inchara98 opened #566 "Midday meal issues(Major)"
Go to textbook distribution report
-Click on midday meal program present in the  left side menu
**_Issue :_** Navigation from textbook distribution page to midday meal report is not happening, but in url it is showing as midday meal

![Image](https://user-images.githubusercontent.com/89445054/195556078-181969a8-4847-4049-99ac-ae83ad893567.png)

**_ISSUE 2_:** Legend issue
                     Same

[2022-10-13 09:22] TanushreeSG opened #567 "Midday meal issue"
-  Mouse hover on lo table
issue: Tooltip showing html tag

- Download button allignment issue

![Image](https://user-images.githubusercontent.com/114054046/195557099-6a6060d8-6908-4013-a1c0-2953e0a0e4f1.png)

- Both the tabs names are same

![Image](https://user-images.githubusercontent.com/114054046/195558321-d1bba31c-4907-42fd-8929-ce0f44f5008d.png)

- Blocks and clusters in the dropdown are in

[2022-10-13 09:58] devu1454 commented on #446
New datasource(Midday_meals) configuration testing is completed. Found Legend and routing issue in the midday_meals reports.

![Image](https://user-images.githubusercontent.com/57621682/195566530-39f4675a-4043-4e68-94c6-31559f595325.png)

![Image](https://user-images.githubusercontent.com/57621682/195566582-b8ae4ed7-1c89-4b0e-8705-38cfbe3e9a99.png)

[2022-10-13 10:45] htvenkatesh commented on #465
@JalajaTR wts the status on this?

[2022-10-13 10:46] htvenkatesh commented on #483
@JalajaTR @PavitraIR wts the status on this?

[2022-10-13 10:47] htvenkatesh commented on #413
@chetandg123 this is kind of new thing to be implemented for VSK, lets have it open for now. Will discuss and take a call on this.

[2022-10-13 10:48] htvenkatesh commented on #410
@Sharathnaik38 wts the status on this ticket, wt are the challenges we are facing?

[2022-10-13 10:51] chetandg123 commented on #413
@htvenkatesh sure, murali was saying that database has information about summary statistics of VSK files but UI side enhancement is required

[2022-10-13 11:00] Sharathnaik38 commented on #410
@asifbasha61 can you please add the keycloak_adm_user: '' in dashboard environment

[2022-10-13 11:04] devu1454 commented on #556
In textbook_distribution summary table main_metrics information is displaying

[2022-10-13 11:06] ayesha-siddiq123 commented on #472
@surendrasinghs -As i discussed with @satendrapalsingh version (edu v1.5 ) doesnt exist, as it has been upgraded,last lower version available is version (release-3.7 ),please suggest me further.

[2022-10-13 11:45] devu1454 commented on #465
Re-tested ,Working as expected

[2022-10-13 11:45] #465 closed

[2022-10-13 13:30] devu1454 opened #568 "Tab names are same in the textbook distribution"

[2022-10-13 14:05] #481 closed

[2022-10-13 14:05] #463 closed

[2022-10-13 14:08] #458 closed

[2022-10-13 14:13] devu1454 commented on #559
While processing of the configuration file, Found below error
ExecuteSQLRecord[id=94c0402e-7d16-3300-9fcf-ef66272d7a35] Unable to execute SQL select query select distinct report_name,report_type,description from configurable_datasource_properties

 for StandardFlowFileRecord[uuid=25d0db75-8356-4853-8423-c53c76fd2f15,claim=StandardContentClaim [resourceClaim=StandardResourceClaim[id=1665669856060-1

[2022-10-13 14:19] devu1454 commented on #556
Defect re-tested working as expected.

[2022-10-13 14:20] devu1454 commented on #556
Only summary statitics is displaying for textbook_distribution.

[2022-10-13 17:21] chetandg123 commented on #410
@Sharathnaik38 @htvenkatesh  Two factor authentication is working as expected all the scenarios are passed

[2022-10-13 17:27] chetandg123 commented on #506
@htvenkatesh @Sharathnaik38
**Issue 2:** Report viewer after entering OTP and then navigating to the dashboard screen , this defect is resolved

[2022-10-14 02:51] JalajaTR commented on #483
The tables are empty we are processing the data.Once done will update the status

[2022-10-14 02:53] htvenkatesh commented on #559
@JalajaTR have u completed this? the estimated time was yesterday?

[2022-10-14 02:54] htvenkatesh commented on #556
@devu1454 @Sharathnaik38 have u guys completed this? the estimated time was yesterday?

[2022-10-14 02:55] htvenkatesh commented on #483
@JalajaTR please add the estimation immediately before working

[2022-10-14 02:56] htvenkatesh commented on #566
@devu1454 can u add the estimated completion time for this before call

[2022-10-14 03:04] JalajaTR commented on #559
@htvenkatesh It was raised yesterday night Am checking on it now

[2022-10-14 03:05] chetandg123 opened #569 "2 Factor Auth - at scanning page scroll bar is required"
**Issues:** When a user enters to 2F auth scanning page not able to see the OTP input box and submit button

Please find the screen - the scroll bar is required for earlier release we have that feature
**if the user is 100% of resolution he can't able come down to the OTP input box**

![Image](https://user-images.githubusercontent.com/64146636/195753463-0959e1aa-e9dd-465b-8f18-c67dfccfc398.png)

*

[2022-10-14 03:05] htvenkatesh commented on #473
@pandutibil have you completed the doc? shall we review it today? The completion time is today for this

[2022-10-14 03:06] JalajaTR commented on #483
This report shows the data for only the current academic year but the data emitted is all previous academic years

[2022-10-14 03:10] htvenkatesh commented on #559
@JalajaTR this we discussed in 4.30 call and that time only we have estimated this timeline, not raised night

[2022-10-14 03:12] htvenkatesh commented on #483
@JalajaTR who has to check on this as per your idea?

[2022-10-14 03:14] JalajaTR commented on #483
@htvenkatesh I checked it
This report shows the data for only the current academic year but the data emitted is all previous academic years.
So I want the testing team to check on it by emitting the proper data.

[2022-10-14 03:16] htvenkatesh commented on #483
@JalajaTR ok. Reassigning this to chetan for testing. @chetandg123 pls test this and add the estimation time

[2022-10-14 03:16] JalajaTR commented on #559
@devu1454 could you confirm

[2022-10-14 03:17] JalajaTR commented on #158
Closing this as Invalid

[2022-10-14 03:17] #158 closed

[2022-10-14 03:19] htvenkatesh commented on #566
@devu1454 in ur absence today  I am re assigning this to Inchara to check this.
@Inchara98 FYI, please test this and update the estimated time

[2022-10-14 03:24] htvenkatesh commented on #565
@padmanabha1234 have u checked this? and then changed the status to ready for QA?

[2022-10-14 03:28] htvenkatesh commented on #569
@chetandg123 can u change the ticket status and reassign to respective developer
And who ever is working, please add the target completion before taking up

[2022-10-14 03:30] htvenkatesh commented on #569
@chetandg123 u raised this ticket 20mins before, but the target completion is set on Oct13th hw is this possible?

[2022-10-14 03:41] htvenkatesh commented on #565
@padmanabha1234 is it ready for testing then?

[2022-10-14 03:42] htvenkatesh commented on #565
@chetandg123 please take a retest on this and update

[2022-10-14 03:44] htvenkatesh commented on #564
@Sharathnaik38 what are the required changes on this ticket?

[2022-10-14 03:44] RNarmatha commented on #505
@PavitraIR Could you please the status of the ticket and target completion date

[2022-10-14 03:44] RNarmatha commented on #430
@PavitraIR Could you please the status of the ticket and target completion date

[2022-10-14 03:44] padmanabha1234 commented on #565
Yes @htvenkatesh

[2022-10-14 03:46] RNarmatha commented on #561
Invalid

[2022-10-14 03:47] PavitraIR commented on #505
sure i will update @RNarmatha

[2022-10-14 03:49] Inchara98 commented on #395
double quotes are not present

[2022-10-14 03:50] JalajaTR commented on #559
@devu1454 and @htvenkatesh The issue is fixed and the code is available in github
Assigning it to @devu1454 for retesting

[2022-10-14 03:52] PavitraIR commented on #430
we have found the root cause, I am fixing on it

[2022-10-14 04:19] Sharathnaik38 commented on #564
@htvenkatesh  i will connect with @asifbasha61 and let you know the changes.

[2022-10-14 04:20] pandutibil commented on #473
@htvenkatesh document will be completed by evening today. We can review it once it is ready.

[2022-10-14 04:44] JalajaTR opened #570 "Design of config file validation"
The validation has to be added to the configuration file before processing the configuration file.

[2022-10-14 04:59] satendrapalsingh opened #571 "Summary statistics of configured data sources should be implemented in Admin Console"
Refer issue #556 for an example of current implementation that needs to change.

[2022-10-14 05:07] Inchara98 commented on #566
Navigation from textbook to midday meals is happening

[2022-10-14 05:07] #566 closed

[2022-10-14 06:04] htvenkatesh commented on #556
@chetandg123 can u comment on this ticket as discussed and close this

[2022-10-14 07:52] chetandg123 commented on #565
Tested the file processing of the main_metrics.zip, main_metrics.json file is generated in the output folder

[2022-10-14 07:54] chetandg123 opened #572 "Azure - Dashboard is not showing menu options and cards"
Azur - processed main_metrics file and in output having main_metrics.json file but UI dashboard showing empty

![Image](https://user-images.githubusercontent.com/64146636/195793125-7bb5a51b-b21c-4685-8e16-ed1c3b8e5540.png)

[2022-10-14 07:55] htvenkatesh commented on #565
@chetandg123 is it working as expected? if so please close this

[2022-10-14 07:58] chetandg123 commented on #565
@htvenkatesh @padmanabha1234 defect is resolved and it is working as expected

[2022-10-14 08:51] RNarmatha commented on #568
@chetandg123 , could you please provide proper description for this ticket

[2022-10-14 09:26] chetandg123 commented on #556
textbook distribution file processing details is displaying in the summary statistics screen

[2022-10-14 09:42] chetandg123 commented on #483
@htvenkatesh @JalajaTR Processed the file having current academic year so defect is resolved and working as expected

[2022-10-14 09:55] chetandg123 commented on #425
@dhanush-2397
**Actual:** Report On Textbook Distribution Access By Location For:
**Expected:** Report On Textbook Distribution Access By Lo Table For:

[2022-10-14 10:24] chetandg123 commented on #568
@htvenkatesh For Textbook distribution
- In main_metrics.json file ->
"Sr. No.": null,
      "Sequence Number":18,
      "Index Number":1,
      "Program":"Textbook Distribution",
      "Program ID":"textbook-distribution",
      "Program Information":"Textbook Distribution",
      "Metric Type":"Key Metric",
      "Metric Name":null,
      "Metric Value":null,
      "Metric Information":null,

[2022-10-14 10:30] murali003 commented on #490
The documentation is completed, it is reviewed by @krishnakr6

[https://docs.google.com/document/d/1sBAOUgTDiRgijWBm_qiD0uHOvJihgd0nbQa6ullCGj0/edit](url)

[2022-10-14 10:37] TanushreeSG opened #573 "No data is displaying in user engagement tab"
No data is displaying in user engagement tab (Courses)

![Image](https://user-images.githubusercontent.com/114054046/195827369-5fefc9f6-84d5-480b-9311-d3c8eed95f6e.png)

[2022-10-14 10:41] chetandg123 opened #574 "Login - on enter OTP screen -> refresh without entering - directly navigating to home"
login with a newly created admin user or report viewer by scanning 2 factor
- again login with the user when the OTP screen shows - refresh the screen
Actual Screen - Home screen showing
Expected Screen - OTP screen should be displayed

[2022-10-14 10:55] TanushreeSG commented on #420
Legend value for all the colours are same

![Image](https://user-images.githubusercontent.com/114054046/195830687-f3ac9eec-d81e-40b7-bbb7-2fe9accd86dc.png)

[2022-10-14 12:17] htvenkatesh commented on #574
@FaizanMohammed326 @Sharathnaik38 while you taking up this please add the target completion date

[2022-10-14 12:22] satendrapalsingh opened #575 "Analyse and design Telemetry support for pending reports"
Analyse and design Telemetry implementation for use with the pending (old and new reports).

[2022-10-14 12:23] htvenkatesh commented on #373
This needs the analysis before the implementation of the telemetry issues. Moving this to backlog as need a discussion and take it forward.
The analysis & design ticket is linked to this
[https://github.com/Sunbird-cQube/community/issues/575]

[2022-10-14 12:29] satendrapalsingh opened #576 "Admin Console not yet supported on Azure"
Azure storge is not supported on Admin Console yet. Functionality needs to be implemented.

As of now the understanding is this will need
- Work on the node server side: implementing the storage abstraction module already developed for nVSK and glueing it in into v3.7 app server side
- Work on the NiFi processing side: development already completed, unit tests pending

[2022-10-14 12:32] satendrapalsingh commented on #576
@devu1454 , @Inchara98, @chetandg123 - Please confirm everything else (except Admin Console) works with Azure storage and the number of pending Azure test cases/scenarios (test cases yet to be executed).

@htvenkatesh , @krishnakr6 , @asifbasha61 , @padmanabha1234 , @JalajaTR - FYI

[2022-10-14 12:46] FaizanMohammed326 commented on #572
Its related to Azure storage , need some time to analyze , will look into it first thing monday morning.

[2022-10-14 12:59] Sharathnaik38 commented on #564
@htvenkatesh i debuged the code their is a error with azure connection iam working on it takes some time will test on monday 1st half.

[2022-10-14 13:02] htvenkatesh commented on #569
@chetandg123 can u take a retest this today? If not please add the estimate and change the date

[2022-10-14 13:04] htvenkatesh commented on #473
Having a discussion on initial draft version. Yet to have it consolidated

[2022-10-14 13:04] htvenkatesh commented on #413
@dhanush-2397 can u update the estimated time if it is not able to complete by eod?

[2022-10-14 13:34] Sharathnaik38 commented on #564
@htvenkatesh and @chetandg123  admin console is now routing please check

![Image](https://user-images.githubusercontent.com/90701833/195859939-1854d7d2-e52f-4f0b-83db-f3578cf9f5b1.png)

[2022-10-14 13:36] FaizanMohammed326 commented on #574
May be something in routing to be changed. will take a look on monday.

[2022-10-15 07:01] JalajaTR commented on #430
Assigning to @Shoaib15khan  for retesting

[2022-10-16 15:39] RNarmatha commented on #485
Please provide the Comment

[2022-10-17 02:05] dhanush-2397 commented on #413
@htvenkatesh I have updated the estimated time.
Estimated Time: 17-10-2022  EOD
Work pending:
1) 29 API 's has to be integrated in Front end side
Work Completed:
1) Backend API development completed for all the API's.

[2022-10-17 02:17] pandutibil commented on #473
Initial draft of the configuration documented and here is the location of the file [https://docs.google.com/document/d/1j9EjxKQN7dTJ8VWjz3beLifVsYRJuiV8Bc-JhO3mI8s/edit](https://docs.google.com/document/d/1j9EjxKQN7dTJ8VWjz3beLifVsYRJuiV8Bc-JhO3mI8s/edit)

[2022-10-17 03:32] padmanabha1234 commented on #485
The documentation is verified by the krishna. need to verify by @htvenkatesh

https://docs.google.com/document/d/1gSJSQCOLG0wsWeBDq8T2a8F3n_kCJORU8hsPuaaGG-c/edit

[2022-10-17 03:37] #446 closed

[2022-10-17 04:21] devu1454 commented on #559
Started the re-testing of the defect

[2022-10-17 04:47] satendrapalsingh commented on #576
@devu1454 Please test the Azure flow test cases and raise the defects for the development team to work on.

@htvenkatesh - FYI

[2022-10-17 05:00] chetandg123 commented on #564
@htvenkatesh @Sharathnaik38 Re-tested AZUR admin console after clicking admin console button not able to navigate to admin console dashboard

![Image](https://user-images.githubusercontent.com/64146636/196092921-6dea76f6-6115-443e-b526-35e8cec5ec73.png)

[2022-10-17 05:10] chetandg123 commented on #569
@htvenkatesh @FaizanMohammed326 re-tested the defect it is resolved in the scanning screen we are able to scroll down the screen (scrolling functionality implemented )

![Image](https://user-images.githubusercontent.com/64146636/196094012-2eeba244-9d9f-47cc-b655-e7097d254f62.png)

[2022-10-17 05:22] RNarmatha opened #577 "Design document to restore cQube"
Preparing the design documentation to restore the cQube

[2022-10-17 05:45] krishnakr6 opened #578 "move files generated through configuration( data processing config file) to AWS S3 or on-premise or AZURE blob storage instead of storing in cQube installed instance/machine."
**Current design** : Files are generated through data processing configuration are stored in the instance/machine where cQube is installed.
**Proposed design**: move  all files generated by data processing configuration to AWS S3 or on-premise or AZURE blob storage instead of storing in cQube installed instance/machine.

[2022-10-17 05:46] krishnakr6 commented on #578
@htvenkatesh @satendrapalsingh @RNarmatha @vijayatgh FYI

[2022-10-17 05:54] chetandg123 opened #579 "Config file missing - state name variable"
Azur config file
- state_name variable is missing
- state_code: HR
- state_name: UP
if we do not give state_name in the config file then we are getting an error at **TASK [reference-visualization: copying maps script] as HR.json error**

note:- state_name - is missing from config.yml

[2022-10-17 06:28] TanushreeSG opened #580 "state name variable is missing in config file"
Aws,Onpremise,Azure config file

state_name variable is missing
state_code: HR
state_name: UP
if we do not give state_name in the config file then we are getting an error at TASK [reference-visualization: copying maps script] as HR.json error
note:- state_name - is missing from config.yml

[2022-10-17 06:31] satendrapalsingh opened #581 "Configurability enhancements - Aggregation section"
Add validations to the Aggregation section data to support more robust configurability.

The following tickets are part of this main ticket:
- [x] #586
- [x] #587
- [x] #589
- [x] #590
- [x] #591

[2022-10-17 06:38] satendrapalsingh opened #582 "Configurability enhancements - Report section"
Add validations to the Report section data to support more robust configurability.

The following tickets are part of this main ticket:
- [x] #592
- [x] #593

[2022-10-17 06:38] TanushreeSG opened #583 "Dashboard build issue when doing onpremise installation"
Getting this error while doing onpremise installation

![Image](https://user-images.githubusercontent.com/114054046/196106134-924e4ef4-bf09-484a-b256-e1db06bb9986.png)

[2022-10-17 06:46] satendrapalsingh opened #584 "Configurability enhancements - table_1_trans section"
Add validations to the table_1_trans section data to support more robust configurability.

The following tickets are part of this main ticket:
- [x] #594
- [x] #595
- [x] #596
- [x] #597
- [x] #598
- [x] #599
- [x] #600
- [x] #601
- [x] #602
- [x] #603
- [x] #604
- [x] #605

[2022-10-17 06:48] satendrapalsingh opened #585 "Configurability enhancements - type_of_data section"
Add validations to the type_of_data section data to support more robust configurability.

The following tickets are part of this main ticket:
- [x] #606
- [ ] #607
- [ ] #608
- [ ] #609
- [ ] #610
- [ ] #611
- [ ] #612

[2022-10-17 06:50] htvenkatesh commented on #564
@Sharathnaik38 wts the issue over here? have u checked this? if not can u pls check it asap if u r available?

[2022-10-17 06:55] satendrapalsingh opened #586 "Aggregation - validate metric type"
Validate whether the Metric type is accepting only the supported values.

_Note - Main ticket #581_

[2022-10-17 06:57] satendrapalsingh opened #587 "Aggregation - validate select_columns & ref_columns"
Validate the columns specified under select_column,ref_columns and group by are all in the defined schema

_Note - Main ticket #581_

[2022-10-17 06:59] satendrapalsingh opened #588 "Aggregation - validate input as per PostgreSQL format"
Validate the condition specified is in the proper PostgreSQL format

[2022-10-17 07:00] satendrapalsingh opened #589 "Aggregation - validate the result_metric column"
Verify the result_metric column in the aggregation section by providing the invalid value(without underscore).
Ex :result_metric = no of books distributed

_Note - Main ticket #581_

[2022-10-17 07:01] asifbasha61 commented on #583
A variable in the config file has been repeated twice due to which angular failed build the code.
Modified the ansible env file and pushed the code to repo.

[2022-10-17 07:01] satendrapalsingh opened #590 "Aggregation - validate select_columns & group_by_columns"
Verify the select_column and  group_by_columns columns in the aggregation section by providing the different values
Ex : select_column = school_id
group_by_columns = school_id , textbook_name,grade,subject,academic_year,distribution_date,month in the aggregation section.

_Note - Main ticket #581_

[2022-10-17 07:02] satendrapalsingh opened #591 "Aggregatin - verify the primary key"
Verify the primary key column in the aggregation section by providing the non-existing primary key values.
Ex: month

[2022-10-17 07:08] satendrapalsingh opened #592 "Report - validate section and report type"
Fill all the sections , one report type in the visualization sections

_Note - Main ticket #582_

[2022-10-17 07:12] satendrapalsingh opened #593 "Report - validate table_1_trans, type_of_data, etc."
Fill table_1_trans,  type_of_data, aggregation, report and invalid (Lo table) report type in the visualization section
Ex : Lo table

_Note - Main ticket #582_

[2022-10-17 07:23] satendrapalsingh opened #594 "table_1_trans - validate table name"
Validate the table name whether it already exists or not

_Note - Main ticket #584_

[2022-10-17 07:25] satendrapalsingh opened #595 "table_1_trans - validate naming conventions"
Validate the naming conventions for table and column names.

_Note - Main ticket #584_

[2022-10-17 07:27] satendrapalsingh opened #596 "table_1_trans - validate file format"
File format validation for configuration file

_Note - Main ticket #584_

[2022-10-17 07:28] satendrapalsingh opened #597 "table_1_trans - validate section completeness"
Validate whether all sections are filled or not

_Note - Main ticket #584_

[2022-10-17 07:29] devu1454 commented on #559
Data processing is working as expected

[2022-10-17 07:29] devu1454 commented on #559
Data processing is working as expected

[2022-10-17 07:29] satendrapalsingh opened #598 "table_1_trans - validate school_id & student_id"
Validate whether school_id and student_id exists in the data

_Note - Main ticket #584_

[2022-10-17 07:30] devu1454 commented on #559
Instead of showing Lo_table, Map is showing in the textbook_distribution

[2022-10-17 07:31] devu1454 commented on #559
Instead of showing Lo_table, Map is showing in the textbook_distribution

[2022-10-17 07:31] satendrapalsingh opened #599 "table_1_trans - remove date column dependency"
Date column dependency should be removed

_Note - Main ticket #584_

[2022-10-17 07:31] devu1454 commented on #559
Instead of showing Lo_table, Map is showing in the textbook_distribution

[2022-10-17 07:32] satendrapalsingh opened #600 "table_1_trans - validate PostgreSQL supported data types support"
Validate whether the postgres supported  data types are added

_Note - Main ticket #584_

[2022-10-17 07:34] satendrapalsingh opened #601 "table_1_trans - validate primary and foreign key constraint"
Validate the constraints for primary or foreign key

_Note - Main ticket #584_

[2022-10-17 07:35] satendrapalsingh opened #602 "table_1_trans - validate foreign key table"
If the constraint is foreign key make sure that the table exists with the specified column name

_Note - Main ticket #584_

[2022-10-17 07:37] satendrapalsingh opened #603 "table_1_trans - validate NULL validation required"
Null_validation_required column values should not be case sensitive

_Note - Main ticket #584_

[2022-10-17 07:38] satendrapalsingh opened #604 "table_1_trans - check for case sensitivity in columns"
check_same_id column values should not be case sensitive

_Note - Main ticket #584_

[2022-10-17 07:40] satendrapalsingh opened #605 "table_1_trans - validate for reference table and reference columns"
Verify creation of config table when config file contains reference table and reference columns in processing data storage(Postgres)

_Note - Main ticket #584_

[2022-10-17 07:45] Sharathnaik38 commented on #564
@htvenkatesh i checked it and explained to @FaizanMohammed326 what to do.issue is Azure connection string is wrong i asked faized to check with @asifbasha61.

[2022-10-17 07:47] satendrapalsingh opened #606 "type_of_data - validate school_id and student_id"
Level of data supports only student and school based on that we need student_id or school_id to process the data.

_Note - Main ticket #585_

[2022-10-17 07:49] satendrapalsingh opened #607 "type_of_data - validate required filters"
filters_required- supports only school,cluster,block,district,grade and subject

_Note - Main ticket #585_

[2022-10-17 07:49] htvenkatesh commented on #559
@devu1454 if its still a issue, please reassign this ticket to developer

[2022-10-17 07:50] satendrapalsingh opened #608 "type_of_data - validate required time selection"
time selections - supports daily,weekly, year_and_month, last_30_days,last_7_days, last_day and overall.

_Note - Main ticket #585_

[2022-10-17 07:52] satendrapalsingh opened #609 "type_of_data - validate data type of column"
Date_column_to_filter - Validate the data type of the column

_Note - Main ticket #585_

[2022-10-17 07:53] satendrapalsingh opened #610 "type_of_data - validate value of time selections"
If the time selections required is any value other than overall date column should be there

_Note - Main ticket #585_

[2022-10-17 07:54] satendrapalsingh opened #611 "type_of_data - verify the nifi_select_columns column"
Verify the nifi_select_columns column in the type_of_data section by providing the invalid value.
Ex : nifi_select_columns  = dummy_nifi_column

_Note - Main ticket #585_

[2022-10-17 07:55] devu1454 commented on #559
@htvenkatesh This ticket is assigned to @FaizanMohammed326

[2022-10-17 07:56] satendrapalsingh opened #612 "type_of_data - change column name of nifi_select_columns"
Update the nifi_select_columns to some generic name

_Note - Main ticket #585_

[2022-10-17 08:16] krishnakr6 opened #613 "create cqube 4.0-beta Release notes"
cQube 4.0-beta Release Notes Document should contain the below list of items

- [x] Overview about cQube 4.0-beta.
- [x] Installation and Upgradation features
- [x] New Features
- [x] Bug fix details

[2022-10-17 08:28] htvenkatesh commented on #583
@asifbasha61 thanks, @TanushreeSG please recheck this issue and update it asap, as its a blocker

[2022-10-17 10:31] satendrapalsingh commented on #478
@htvenkatesh - Assigning this to you as a placeholder so that we can discuss and take this up on priority for Beta release.

[2022-10-17 10:40] htvenkatesh commented on #580
@FaizanMohammed326 have u completed this?

[2022-10-17 10:41] htvenkatesh commented on #572
@pandutibil any update on this?

[2022-10-17 10:42] htvenkatesh commented on #574
@FaizanMohammed326 is it completed?

[2022-10-17 10:53] TanushreeSG commented on #583
Retested again getting same error

![Image](https://user-images.githubusercontent.com/114054046/196159679-9da1a5d4-b3ec-4ad1-bf38-6714cfb41410.png)

[2022-10-17 11:01] htvenkatesh commented on #583
@asifbasha61 pls check this wts the issue

[2022-10-17 11:25] TanushreeSG commented on #583
@htvenkatesh @asifbasha61 It was a pull issue. I have retested again, now its working as expected.

[2022-10-17 11:47] chetandg123 commented on #574
@htvenkatesh @FaizanMohammed326
I have done re-testing of the defect, and it is not resolved, and again new defect occurred
**New Issue:** After creation of new users (admin and report viewer) try to login with credentials
- enter the user name and password then click on login button
**- Scanning screen is not showing instead of showing OTP screen**

![Image](https://user-images.githubusercontent.

[2022-10-17 11:52] FaizanMohammed326 commented on #564
@htvenkatesh Working as expected

[2022-10-17 12:30] krishnakr6 commented on #413
Pull Request [#451](https://github.com/Sunbird-cQube/cQube_Edu/pull/451)

[2022-10-17 12:32] dhanush-2397 commented on #413
@htvenkatesh  Task completed and ready for QA

[2022-10-17 12:34] htvenkatesh commented on #413
Ok @dhanush-2397 . Thanks

[2022-10-17 12:55] TanushreeSG opened #614 "Admin console -> select the input and output file and download button is not present"
Admin console -> select the input and output file and download button is not present

![Image](https://user-images.githubusercontent.com/114054046/196182299-4ec1bb95-e8cb-4574-9305-104b030dadc9.png)

[2022-10-17 12:58] Inchara98 opened #615 "generating folder type json file in onpremise"
emitted main_metrics file, in output folder json type file is creating

![Image](https://user-images.githubusercontent.com/89445054/196183117-ea498d89-6e93-4d5b-995a-ff33555ae0aa.png)

[2022-10-18 03:14] htvenkatesh commented on #580
@TanushreeSG please take a retest on this and update the ticket

[2022-10-18 03:15] htvenkatesh commented on #564
@FaizanMohammed326  please reassign the tickets back to respective QA person once the development is completed

[2022-10-18 03:18] htvenkatesh commented on #559
@FaizanMohammed326 wts the update on this?

[2022-10-18 03:19] htvenkatesh commented on #574
@FaizanMohammed326 have u checked this issue?

[2022-10-18 03:21] htvenkatesh commented on #614
@dhanush-2397 please look into this as P1 and fix it

[2022-10-18 03:22] htvenkatesh commented on #572
@chetandg123 @pandutibil @asifbasha61 is it fixed or not yet? wts the issue?

[2022-10-18 03:31] FaizanMohammed326 commented on #574
yes @htvenkatesh need to push the code.

[2022-10-18 03:35] FaizanMohammed326 commented on #559
Fixed @htvenkatesh

[2022-10-18 03:54] devu1454 opened #616 "Diksha learning sesssion chart report showing undefined"

[2022-10-18 04:08] krishnakr6 commented on #613
v4.0-alpha release notes - draft
https://docs.google.com/document/d/1NtCcX9C17ZrvEr9gH8VcHMe1HfixKr1em2LRC2OpNKM/edit?usp=sharing

[2022-10-18 04:22] chetandg123 commented on #564
@htvenkatesh @FaizanMohammed326 I have done re-testing the azure admin console is not working
please find the screenshot for reference

After installation, if we do sudo pm2 status -> dashboard - API status shows errored

![Image](https://user-images.githubusercontent.com/64146636/196334812-d6fc368c-fe71-41c4-81b2-e138a36f3419.png)

![Image](https://user-images.githubusercontent.com/64146636/19633

[2022-10-18 04:36] JalajaTR opened #617 "Analysing calcite and python libraries to create the sql queries."

[2022-10-18 04:41] #583 closed

[2022-10-18 05:05] #614 closed

[2022-10-18 05:17] ayesha-siddiq123 opened #618 "created README.md for installation and upgradatipn"
created README.md document for cQube Installation and Upgradation

[2022-10-18 05:25] Inchara98 opened #619 "Access progress card link is not present in the reports"
To access progress card from each report there is no access progress card link
Please provide link

[2022-10-18 05:48] htvenkatesh commented on #478
@pandutibil This has to be dynamic, reading from json/csv file for 1.5 and 3.7

[2022-10-18 05:52] chetandg123 commented on #574
@htvenkatesh @FaizanMohammed326 Re-tested the defect is not fixed, when on the OTP screen do the refresh
Actual result: Login Screen displayed
Expected result: OTP Screen display

[2022-10-18 05:53] chetandg123 opened #620 "Two factor auth - after scanning and re login with admin and report user is not working"
Created admin and report viewer user
- login with newly created user by scanning the QR code first time it works fine again login with user then if we give proper OTP number in the input box and click on submit it is not navigating to next screen

[2022-10-18 05:57] Inchara98 opened #621 "download reports url end point should be same for all datastorage"

[2022-10-18 06:05] htvenkatesh opened #622 "Add Tooltip to menu and Autohide the menu on click of item"
Add the tooltip to the side menu bar when it is in collapsible state.
Hide the side menu when user clicks on the menu item
Use the existing material/ngx-bootstrap library for tooltip implementation.

[2022-10-18 06:06] htvenkatesh opened #623 "FLN Reports to be added and give proper name"
Hi Suren,
This ticket with respect to FLN items discussed.
Please let us know what are the required tab/report names to be used respectively and location of the reports in which module it is part of.

[2022-10-18 06:35] krishnakr6 commented on #613
# cQube - Release V 4.0-beta - draft ( in progress )

#### Document Release Version

|Project    |Release Date    |Release Version|
|---------|----------------|------------------|
|cQube    |  Oct 2022 |V 4.0-beta    |

## Overview

cQube v4.0-beta  has improved features and bug fixes.

## Upgradation Features from cqube-4.0-alpha

[Upgrade process](https://github.com/Sunbird-cQube/cQube_Edu/blob/

[2022-10-18 07:07] TanushreeSG commented on #580
working as expected

[2022-10-18 07:07] #580 closed

[2022-10-18 07:45] chetandg123 opened #624 "Azure National Installation Failed at TASK [reference-visualization : Building reference visualization dashboard script]"
When doing azur national installation -> stopped at TASK [reference-visualization: Building reference visualization dashboard script]

![Image](https://user-images.githubusercontent.com/64146636/196368822-93ccdc71-f269-4c33-9086-4158df1e2a9e.png)

![Image](https://user-images.githubusercontent.com/64146636/196368644-7c45b89b-16e8-4de6-851b-9c57170da0be.png)

[2022-10-18 08:04] asifbasha61 opened #625 "change AZURE_STORAGE_CONNECTION_STRING to AZURE_STORAGE_CONN_STR in node api side"
.env file will be reading azure_storage_connection_string as AZURE_STORAGE_CONN_STR
change AZURE_STORAGE_CONNECTION_STRING to AZURE_STORAGE_CONN_STR in node api core/config file

[2022-10-18 08:38] Inchara98 commented on #615
working as expected

[2022-10-18 08:38] #615 closed

[2022-10-18 08:49] asifbasha61 commented on #624
Added the required parameters to the env files for both local and public installation.

[2022-10-18 09:08] devu1454 commented on #413
1.In s3 installation -> summary statistics for vsk_diksha_etb_coverage-status.zip and vsk_diksha_etb_qr-coverage.zip is not available.
2. Table alignment is not proper
3. @padmanabha1234 processed records are not showing.

[2022-10-18 09:08] Inchara98 commented on #413
@padmanabha1234  output files are not generating in onpremise after processing vsk files

[2022-10-18 09:09] devu1454 commented on #413
@htvenkatesh Please note

[2022-10-18 09:22] htvenkatesh commented on #413
@dhanush-2397 Can u look into this?

[2022-10-18 09:23] htvenkatesh commented on #620
@FaizanMohammed326 have u looked into this ticket?

[2022-10-18 09:32] chetandg123 commented on #624
@htvenkatesh @asifbasha61 pulled latest code and again getting failed at TASK [reference-visualization : Configure the environment.ts] ******************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "AnsibleUndefinedVariable: 'NA' is undefined"}

![Image](https://user-images.githubusercontent.com/64146636/196393503-8fc5a5f4-2d

[2022-10-18 09:43] devu1454 commented on #559
Textbook_distribution tabs are working as expected

[2022-10-18 09:44] devu1454 commented on #559
1.<br> tags are displaying on the cells.
![Screenshot from 2022-10-18 15-12-42](https://user-images.githubusercontent.com/57621682/196396302-ef800be3-6e96-4967-95b0-d54ef4874744.png)

[2022-10-18 09:46] htvenkatesh commented on #616
@devu1454 please add the required description and content for this

[2022-10-18 09:49] devu1454 opened #626 "Book_distribution Map report legend cards are not displaying"
1. Login to demo6cqube.tibilprojects.com
2. Click on book_distribution

Issue : legend cards are not displaying

![Image](https://user-images.githubusercontent.com/57621682/196397357-d1aac3ff-2cf8-4d65-93df-9c101d7c00b9.png)

[2022-10-18 09:50] padmanabha1234 commented on #413
Issue is resolved
@TanushreeSG please take a re-test

[2022-10-18 09:59] chetandg123 commented on #572
@htvenkatesh back to back getting issues please inform development team to do the proper unit test and release to testing

@asifbasha61 again we getting error

![Image](https://user-images.githubusercontent.com/64146636/196399509-8f8e5ad6-9015-4bf8-8591-33be4a8fd502.png)

[2022-10-18 10:03] FaizanMohammed326 commented on #625
@htvenkatesh I'm working on this

[2022-10-18 10:18] FaizanMohammed326 commented on #620
@chetandg123 Code merged pls retest taking the latest code.

[2022-10-18 10:37] htvenkatesh opened #627 "Tab names are getting cutted at the end of the scrolling of the items"

[2022-10-18 10:45] pandutibil commented on #627
Issue has fixed

[2022-10-18 11:40] dhanush-2397 commented on #622
@htvenkatesh Completed the task and its ready for QA.

[2022-10-18 12:06] htvenkatesh commented on #613
@surendrasinghs Please look into the release document and provide the comments if any on this. Based on that to be shared to Sukpreeth tomorrow

[2022-10-18 12:55] chetandg123 commented on #620
@htvenkatesh @FaizanMohammed326 defect is re-tested working as expected

[2022-10-18 13:16] htvenkatesh commented on #624
@asifbasha61 wts happening on this? why are we not able to close?

[2022-10-18 14:21] chetandg123 commented on #564
@htvenkatesh @FaizanMohammed326 re-tested Azure admin console defect is resolved now able to navigate to admin console dashboard

[2022-10-18 14:23] chetandg123 commented on #574
@FaizanMohammed326 retested the defect is **Resolved**

@htvenkatesh for one point here that
- **when the user is on the scanning page/OTP page if he does the refresh then he will navigate to the login screen please add this point in the release document**

[2022-10-18 14:25] chetandg123 opened #628 "Azur - Admin console - Download azur files not showing"
Navigate to admin console ->
**Issue1:** Download local files card should be changed to Download Azur Files
**Issue2:** Inside the download local files screen -> Check dropdown having /tmp options instead of
i.e azure-input, azure-output , azure-emission

![Image](https://user-images.githubusercontent.com/64146636/196458949-53387f76-626e-4872-a5a0-81fa24ef709a.png)

[2022-10-18 14:31] chetandg123 opened #629 "Azur Admin console - grafana login page is not showing"
Admin console - click on monitoring details card
**The Grafana login page should be displayed on the screen** instead of the page can't be found

![Image](https://user-images.githubusercontent.com/64146636/196459641-b1e26660-5dfa-4a1b-a897-c3895e7ee2fa.png)

[2022-10-19 02:13] #616 closed

[2022-10-19 03:46] asifbasha61 commented on #624
@htvenkatesh diksha columns were configured earlier with true or false, But now for national we are using 'NA' so need @Sharathnaik38 to check this issue further.

[2022-10-19 03:54] htvenkatesh commented on #624
@asifbasha61 @Sharathnaik38 lets have a call and discuss this after huddle

[2022-10-19 03:54] asifbasha61 commented on #629
Changed the nginx configuration to route monitoring through /grafana.
@chetandg123 Please re-test.

[2022-10-19 04:00] chetandg123 commented on #629
@htvenkatesh @asifbasha61 defect is re-tested now able to see the grafana login screen
**Note:** @asifbasha61  updated that it is a Nginx issue

[2022-10-19 04:08] TanushreeSG commented on #413
Yesterday as I was testing data processing issues, I was not able to pull the latest code and redeploy.
Today i will be retesting this bug.

[2022-10-19 04:12] TanushreeSG opened #630 "Issues in admin console (onpremise)"
- After changing the password page is not redirecting to login page
- Data replay is not working
- Diksha summary rollup periodic selection is not working

[2022-10-19 04:19] asifbasha61 commented on #572
@htvenkatesh This issue is dependent on #624.

[2022-10-19 05:39] asifbasha61 commented on #624
@htvenkatesh  Changed the dependent variables as either true or false and pushed the code.
@ayesha-siddiq123 Please do a unit testing and update to @chetandg123 if the bug is resolved.

[2022-10-19 05:41] asifbasha61 commented on #572
@htvenkatesh Changed the dependent variables as either true or false and pushed the code.
@ayesha-siddiq123 Please do a unit testing and update to @chetandg123 if the bug is resolved.

[2022-10-19 06:10] Sharathnaik38 commented on #630
@htvenkatesh and @asifbasha61 for keyclock host missing the port please provide port localhost:8080 for onprime

![Image](https://user-images.githubusercontent.com/90701833/196610667-9b3ce2bf-4f94-4313-981d-46e6306c11fb.png)

[2022-10-19 06:19] htvenkatesh commented on #630
@asifbasha61 please check this

[2022-10-19 06:37] TanushreeSG commented on #413
Retested not fixed
Diksha ETB coverage
Diksha ETB program started
Diksha ETB QR coverage

![Image](https://user-images.githubusercontent.com/114054046/196614686-b16c0033-9146-4f6a-a567-1a9486856e65.png)

[2022-10-19 06:43] chetandg123 opened #631 "Azur - Textbook distribution configuration is not processing"
Textbook distribution.zip is not processed in the configure data source processor

File is emitted to -> configure_datasource

[2022-10-19 06:53] dhanush-2397 commented on #413
@padmanabha1234 Is Diksha ETB QR coverage json file added?
I'm able to see the above mentioned files when I run the admin console app in my local.

[2022-10-19 06:56] htvenkatesh commented on #478
@pandutibil shall we connect and discuss on this for 3.7 reports how to implement this?

[2022-10-19 06:56] TanushreeSG commented on #622
Working as expected

[2022-10-19 06:56] htvenkatesh commented on #572
@chetandg123 is this retested?

[2022-10-19 07:05] ayesha-siddiq123 commented on #572
@htvenkatesh am doing the complete flow of unit testing, will update to @chetandg123

[2022-10-19 07:06] ayesha-siddiq123 commented on #624
@htvenkatesh doing the complete flow of unit test. will update to @chetandg123

[2022-10-19 07:08] devu1454 commented on #626
Working as expected

[2022-10-19 07:08] devu1454 commented on #626
Working as expected

[2022-10-19 07:08] #626 closed

[2022-10-19 07:10] surendrasinghs commented on #623
Both the reports need to be put under the FLN dashboard. I am proposing their names as "Module-wide status" and "Detailed status". These two will be placed before the existing reports already present in FLN dashboard. @htvenkatesh @pandutibil

[2022-10-19 07:14] htvenkatesh commented on #623
Thanks @surendrasinghs
@pandutibil Please note this and make required changes

[2022-10-19 07:24] chetandg123 opened #632 "Azur - admin console Issues"
**Issues:**
**Data Reply**
- Data source data reply is not working **(Resolved)**
- Data Reply is not working **(Resolved)**
  alert box showing undefined

-**Configuration** - Diksha summary-rollup Periodic Selection is not working
- **Summary** **statistics** is not working - **Resolved**
	- processed student attendance file it is not captured in the summary table **(Resolved)**

[2022-10-19 07:24] surendrasinghs commented on #613
@krishnakr6 @htvenkatesh the release notes should cover
1. All the capabilities offered - broadly. For example, builtin dashboards and configurability.
2. Details of capabilities, For example, for builtin dashboards,
   1. Specify the data format in which data needs to be sent/emitted
   2. Configuration to enable/disable any dashboard
3. Similarly, for example, for configurability
   1. Available

[2022-10-19 07:28] ayesha-siddiq123 commented on #624
@chetandg123  @asifbasha61 unit test is done and the bug is resolved. please take the retest.

[2022-10-19 07:29] ayesha-siddiq123 commented on #624
@chetandg123 unit test is done. please take the retest.

[2022-10-19 08:14] chetandg123 opened #633 "Azur - Ingestion API is not working"
Ingestion API is not working in the Azur installation

[2022-10-19 08:23] Inchara98 opened #634 "Data in the tooltip is not aligned properly"
Textbook_distribution
-Data in the tooltip is not aligned properly

![Image](https://user-images.githubusercontent.com/89445054/196637368-4043876d-6eea-4516-ab83-56a03e443c39.png)

[2022-10-19 08:45] Inchara98 opened #635 "pre signed url is not generating in on premise"
Ingestion api - onpremise
url is not generating in postman

[2022-10-19 08:56] devu1454 commented on #559
above defect is re-tested, working as expected

[2022-10-19 08:56] #559 closed

[2022-10-19 08:57] chetandg123 commented on #624
@htvenkatesh @ayesha-siddiq123 defect is retested , it is resolved

[2022-10-19 09:34] padmanabha1234 commented on #413
@dhanush-2397 I processed log_summary_diksha_etb_etb-coverage.json, log_summary_diksha_etb_qr-coverage.json. Please check in the gj output bucket

[2022-10-19 09:36] htvenkatesh commented on #413
@padmanabha1234 @devu1454 was telling the file names includes vsk keyword... but in the files u shared its not included. @devu1454 can u confirm on this

[2022-10-19 09:39] asifbasha61 commented on #630
updated keycloak host variable in the env files in core api and admin api and pushed the code.

[2022-10-19 09:56] TanushreeSG commented on #489
@htvenkatesh in minor issues it is a P1

[2022-10-19 10:05] dhanush-2397 commented on #413
@devu1454 @htvenkatesh In output bucket "cqube-gj-output" the filenames does not include vsk keyword.
So the data is visible for etb_qr_coverage and etb-coverage .
Please verify once.

[2022-10-19 10:06] htvenkatesh commented on #413
@devu1454 @padmanabha1234 please confirm the exact file names which are being used.

[2022-10-19 10:14] Inchara98 commented on #630
-After changing the password page is not redirecting to login page - This issue resolved

[2022-10-19 10:18] TanushreeSG opened #636 "Tooltip issue in student performance"
html tag present in tooltip
Student performance(Periodic Assesment Test LO-Table)

![Image](https://user-images.githubusercontent.com/114054046/196664363-a90a118c-84e8-47b0-bde7-8ced483172ee.png)

[2022-10-19 10:19] dhanush-2397 commented on #628
@htvenkatesh @chetandg123 I had a call with sharath
For issue 2 :
For azure the functionalities are not yet developed.

Issue 1: We can change the name based on storage type

[2022-10-19 10:21] htvenkatesh commented on #628
@dhanush-2397 @Sharathnaik38 wts the effort required for the azure code changes?

[2022-10-19 11:33] chetandg123 commented on #479
@htvenkatesh few points/suggestions
all place's tooltip information is not in the proper way
suppose like
- not present in camel cases
- if key: value pairs then the key should in bold letters.

[2022-10-19 12:06] dhanush-2397 commented on #413
@devu1454  @htvenkatesh Please verify once the code is merged I have used
1) log_summary_vsk_diksha_etb_qr-coverage.json
2) log_summary/log_summary_vsk_diksha_etb_coverage-status.json
and have hidden few reports in the summary statistics which we had discussed in the meeting.

[2022-10-19 12:10] devu1454 opened #637 "Management selection for textbook distribution is not required"
cQube-release-3.7 not supporting the management selection for textbook distribution.
If the management functionality is not implemented for textbook distribution. then no need to shown on the visulaization

[2022-10-19 12:38] htvenkatesh commented on #630
@Inchara98 @asifbasha61 wts the update on this ticket?

[2022-10-19 12:39] htvenkatesh commented on #635
@Shoaib15khan is this done?

[2022-10-19 12:40] htvenkatesh commented on #413
@TanushreeSG @devu1454 can u guys retest and check this?

[2022-10-19 12:40] Shoaib15khan commented on #635
yes @htvenkatesh

[2022-10-19 12:41] htvenkatesh commented on #631
@padmanabha1234 did u take a look on this?

[2022-10-19 12:42] htvenkatesh commented on #625
@chetandg123 is this tested?

[2022-10-19 12:42] htvenkatesh commented on #635
@Shoaib15khan can u reassign this ticket for testing?

[2022-10-19 12:44] #410 closed

[2022-10-19 12:51] htvenkatesh commented on #637
@devu1454 please add more details to this, wt exactly?

[2022-10-19 12:58] pandutibil commented on #623
@htvenkatesh working on it

[2022-10-20 02:02] devu1454 opened #638 "System Testing"
1. Azure installation(State) (Chetan)
- [x] Installation
- [x] Ingestion_api
- [x] Data processing
- [x] Visualization

2. Azure installation(National) (Chetan)
- [x] Installation
- [x] Data processing
- [x] Visualization

3. S3 installation(State) (Devaraja)
- [x] Installation
- [x] Ingestion_api
- [x] Data processing
- [x] Visualization

4. S3 installation(National) (Devaraja)
- [x] Installation

[2022-10-20 02:11] devu1454 opened #639 "Regression Testing"
Regression Testing (Inchara & Tanushree)

1.Azure
- [x] Visualization(National)
- [x] Visualization(State)

2.S3
- [x] Visualization(National)
- [x] Visualization(State)

3.On-premise
- [x] Visualization(National)
- [x] Visualization(State)

[2022-10-20 03:55] padmanabha1234 commented on #631
@htvenkatesh
chetan is re - testing on this.

[2022-10-20 04:30] Inchara98 commented on #635
@Shoaib15khan  Retested not fixed
curl: (7) Failed to connect to localhost port 80: Connection refused

[2022-10-20 04:39] chetandg123 opened #640 "Azure - district master file processing is not working - through ingection api"
Using Ingection api -> emitted the district master file to the azur emission container
- File is present in emission container and input container and after starting the static data transformer processor then getting error in cQube data storage

![Image](https://user-images.githubusercontent.com/64146636/196857719-4c3967b5-1a17-4cde-9c5f-4870aeaae9df.png)

[2022-10-20 04:53] chetandg123 commented on #625
@htvenkatesh @FaizanMohammed326 @asifbasha61  defect is retested now it is working fine after installation all the services are online without showing error

![Image](https://user-images.githubusercontent.com/64146636/196859411-81dd657f-dd5b-4cd3-b065-fda1c79571e2.png)

[2022-10-20 04:55] chetandg123 commented on #633
@Shoaib15khan  Ingestion API is working as expected , now we are able to get presigned url response

[2022-10-20 05:01] chetandg123 commented on #631
@htvenkatesh @padmanabha1234
re-tested the defect is not fixed
after emission of textbook_distribution.zip to configure_source folder is not processed and
in the **/opt/cqube/emission_app/python/ not having postgress folder**

![Image](https://user-images.githubusercontent.com/64146636/196860283-012963d9-4f5c-4847-8f85-71c365a7ba9c.png)

[2022-10-20 05:46] devu1454 opened #641 "cqube-qa8-output displaying in string format and input files are showing"
1.Click on admin console
2.Click on Download s3 files
3. Choose cqube-qa8-output bucket from dropdown list

Issue : output bucket name is displaying quotes

![Image](https://user-images.githubusercontent.com/57621682/196866286-7491089f-0062-4fc7-88cb-2287be03c4b0.png)

[2022-10-20 05:52] Inchara98 commented on #630
@Sharathnaik38 @htvenkatesh Diksha summary rollup periodic selection is not working rest two are working as expected

[2022-10-20 05:56] TanushreeSG commented on #630
After changing the password page is not redirecting to login page -  **Resolved**
Data replay is not working - **Resolved**
Diksha summary rollup periodic selection is not working - **Retested not fixed**
Issue-  After clicking submit button alert box showing as a diksha summary periodic selection is succesfully submitted then click on ok button again we are getting error alert

[2022-10-20 05:57] devu1454 opened #642 "Diksha summary-rollup Periodic Selection is not working(s3)"
1. Select from date
2. Select to date
3. select time selection as 1 hour
4. click on submit
Issue : not working

![Image](https://user-images.githubusercontent.com/57621682/196867575-255f6f92-9e0b-4019-89fe-8a53aba3faf1.png)

[2022-10-20 06:12] htvenkatesh commented on #635
@Shoaib15khan wts the update on this?

[2022-10-20 06:33] Inchara98 commented on #635
url is generating and working as expected

[2022-10-20 06:33] #635 closed

[2022-10-20 06:41] padmanabha1234 commented on #640
@Shoaib15khan their is an error while unzipping a file from emission bucket through ingestion API. Please look into this

@chetandg123 @htvenkatesh @krishnakr6 FYI

[2022-10-20 06:41] devu1454 opened #643 "Tooltip is not showing for VSK maps"
Tooltip value is not showing for vsk maps

![Image](https://user-images.githubusercontent.com/57621682/196874801-405fb88e-a369-4d25-9e8c-00ecbafabad8.png)

[2022-10-20 07:07] pandutibil commented on #643
@devu1454 Issue fixed please retest

[2022-10-20 07:18] chetandg123 commented on #640
@htvenkatesh this defect is going to archive because @Shoaib15khan said that which he given code to test the api ingestion presigned url not for processing

[2022-10-20 07:29] Sharathnaik38 commented on #642
@devu1454 this is issue with NIFI for all storage type in informed to padmanaba to check this

[2022-10-20 08:01] htvenkatesh commented on #642
@padmanabha1234 have u checked this?

[2022-10-20 08:56] padmanabha1234 commented on #632
@Sharathnaik38 python code is working please check

[2022-10-20 08:57] padmanabha1234 commented on #630
@Sharathnaik38 python code is working please check

[2022-10-20 08:59] padmanabha1234 commented on #642
@Sharathnaik38 python code is working please check

[2022-10-20 09:03] Sharathnaik38 commented on #632
@chetandg123 please test the Diksha summary-rollup

[2022-10-20 09:04] Sharathnaik38 commented on #630
@TanushreeSG please retest Diksha summary rollup

[2022-10-20 09:21] dhanush-2397 commented on #628
@htvenkatesh @chetandg123
1) Issue 1 is fixed.
2) Issue 2 is fixed( Download functionality is pending)

[2022-10-20 09:29] htvenkatesh commented on #628
@chetandg123 pls test these completed things for azure support

[2022-10-20 09:29] Inchara98 commented on #360
working as expected

[2022-10-20 09:29] #360 closed

[2022-10-20 09:49] Inchara98 opened #644 "Issue in National(onpremise)"
1.Bar graph is displaying only after selecting state from the dropdown

![Image](https://user-images.githubusercontent.com/89445054/196912439-9ee26630-b175-4dc7-b2d4-7b6382373343.png)

![Image](https://user-images.githubusercontent.com/89445054/196912579-3548c9d1-b3de-41ef-9b89-9d81c694b56f.png)

2.Diksha image icon is displaying for Microimprovements and quiz program in side menu

3.Guage charts

[2022-10-20 09:50] devu1454 commented on #631
@chetandg123 Please take a re-test

[2022-10-20 10:07] devu1454 commented on #643
Working as expected

[2022-10-20 10:19] htvenkatesh commented on #413
@devu1454 wts the processed file name?

[2022-10-20 10:25] chetandg123 commented on #628
@htvenkatesh @dhanush-2397 retested the defect please find the below result
**Issue1:** is resolved
**issue2:** : is not fixed if we select cqube-state-input and cqube-state-emission also screen showing list of cqube-state-output files

[2022-10-20 10:25] htvenkatesh commented on #623
@pandutibil if its done pls move for QA

[2022-10-20 10:26] htvenkatesh commented on #632
@chetandg123 can u test this

[2022-10-20 10:27] pandutibil commented on #623
@devu1454 please test this issue

[2022-10-20 10:29] htvenkatesh commented on #628
@chetandg123 for download they are working on, please test for reading and visualising the reports

[2022-10-20 10:29] Inchara98 opened #645 "Back button is not present in Dashboard page"
Back button is not present in Dashboard to navigate to homepage

[2022-10-20 10:30] htvenkatesh commented on #641
@devu1454 is it for s3 or azure storage test?

[2022-10-20 10:45] RNarmatha opened #646 "Documentation of creating a nginx template"
Preparingthe documentation For nginx template

[2022-10-20 10:50] chetandg123 commented on #628
@htvenkatesh sure

[2022-10-20 10:53] chetandg123 commented on #631
@htvenkatesh @devu1454 @padmanabha1234 re-tested the textbook distribution is not fixed after emission of textbook_distribution_data.zip to textbook_distribution/ , we are getting error in validate_datasource please find the below screen shot for your reference

![Image](https://user-images.githubusercontent.com/64146636/196928200-08e7ed18-6a9b-426e-9d7e-4b3114fecd84.png)

[2022-10-20 10:57] chetandg123 commented on #632
@htvenkatesh @Sharathnaik38 @padmanabha1234
completed re-testing of above listed issues are not fixed except summary stastics

@padmanabha1234 processed records showing 0 in the table for vsk files

[2022-10-20 11:28] dhanush-2397 commented on #632
@chetandg123 data reply is fixed. Please Re-test

[2022-10-20 11:29] dhanush-2397 commented on #628
@htvenkatesh @chetandg123 Issue 2 is fixed and download functionality also working.

[2022-10-20 11:40] devu1454 opened #647 "report user change password is not available"

[2022-10-20 11:52] pandutibil commented on #478
@devu1454 please start testing this issue

[2022-10-20 11:59] devu1454 opened #648 "Validation error while installation"
1. If access type as national,  Valdiation is not happening for management
2. if access type as state, Valdiation is not happening for below config elements
  2.1  slab1: 33
         slab2: 30-65
         slab3: 60-75
         slab4: 70
         Issue : error message is not proper

[2022-10-20 12:09] chetandg123 commented on #628
@htvenkatesh @dhanush-2397 Re-tested completed download azur files screen it is working as expected , closing this ticket

[2022-10-20 12:28] TanushreeSG opened #649 "Admin console issue"
Admin console page is not opening

![Image](https://user-images.githubusercontent.com/114054046/196948546-6c64599b-bf4a-4d55-bf12-daf9b5611e1d.png)

[2022-10-20 12:33] dhanush-2397 commented on #413
@devu1454 @padmanabha1234 Is this the file name "log_summary_diksha_learning_sessions.json" used for diksha Learning session summary?

[2022-10-20 12:49] #649 closed

[2022-10-20 13:11] Inchara98 commented on #645
Back button  is added and working as expected

[2022-10-20 13:11] #645 closed

[2022-10-20 14:28] Inchara98 opened #650 "core reports are not loading (onpremise)"
After processing of data, reports are not loading

[2022-10-20 14:57] dhanush-2397 commented on #650
@Inchara98 code is merged. Please re-test

[2022-10-20 16:49] #622 closed

[2022-10-20 17:05] htvenkatesh commented on #284
Duplicate Ticket, Closing this

[2022-10-20 17:05] #284 closed

[2022-10-20 18:23] chetandg123 commented on #632
@htvenkatesh defect re-testing is not happened due to not being able to enter the admin console dashboard screen
when we click on the admin console button
console error:

![Image](https://user-images.githubusercontent.com/64146636/197028136-5171dca4-a6d2-40c5-ba2d-d1b61b567519.png)

[2022-10-20 18:38] chetandg123 commented on #478
@htvenkatesh @pandutibil Tested the Visualization dynamic date stamp is working as expected

**Note:** Tested for only cQube core-1 reports (VSK Programs) date is updated based on the latest file processing date

cQube core-2 is not checked due to all reports show no data found

**so, ticket status will be in-progress**

[2022-10-21 03:12] krishnakr6 commented on #613
Update with release notes and added to gitbook
https://cqube.sunbird.org/release-notes/cqube-release-notes-v4.0-beta

[2022-10-21 03:26] chetandg123 commented on #631
@htvenkatesh @padmanabha1234 retested the defect it is resolved , textbookdata.zip is processed without any issues , checked with db and output files also generated for the textbook distribution report

[2022-10-21 03:35] devu1454 opened #651 "Login is not happening(s3)"
Provided the valid username and password and tried to login to cqube
Issue  Login is not happening

![Image](https://user-images.githubusercontent.com/57621682/197105698-591a6490-9e58-41a7-ac72-bca484335024.png)

[2022-10-21 03:42] chetandg123 opened #652 "Azur - After latest code deployment - all cQube core -2 reports showing no data found"
before deployment all report showing data , after latest code deployment by Oct 20 time- 10pm done with latest deployment ,
**Issue** - all cQube core -2 reports -> showing no data found

Note: output folder having all data sources files

[2022-10-21 04:21] TanushreeSG commented on #630
@Sharathnaik38 Retested not fixed

![Image](https://user-images.githubusercontent.com/114054046/197111262-59ea12a6-3b7c-4047-8eea-7665dba192f6.png)

[2022-10-21 05:56] padmanabha1234 commented on #630
@FaizanMohammed326  python code is working fine. Please check into this issue

[2022-10-21 06:11] chetandg123 opened #653 "Azur - Download Azur file screen - dashboard url showing as /s3FileDownload"

[2022-10-21 06:18] dhanush-2397 commented on #653
@chetandg123 I will give a generic name called FileDownload in the browser url

[2022-10-21 06:47] chetandg123 opened #654 "Azur - admin console -> conversion of diksha tpd and etb api to emission is not working"
Tring to change diksha tpd and etb from api to emission
Issue: alert is showing error

![Image](https://user-images.githubusercontent.com/64146636/197131003-1fa02494-97ee-433d-a946-bf30513e2955.png)

[2022-10-21 07:02] Inchara98 commented on #650
@htvenkatesh  @Sharathnaik38 retested not fixed

![Image](https://user-images.githubusercontent.com/89445054/197133388-d0ec14b5-f032-452f-9639-40c2b7b262ca.png)

[2022-10-21 07:03] chetandg123 commented on #632
@htvenkatesh @pandutibil

@padmanabha1234
Data retention is working in UI , after that if started data reply processor once done with that checked in the data base table - data retention meta table is not update with selected retention days

![Image](https://user-images.githubusercontent.com/64146636/197131540-d09f4c5e-7def-4679-9181-9f482ef37e42.png)

[2022-10-21 07:17] devu1454 commented on #623
Module-wide status and Detailed status reports are displaying in the Nipun bharath

![Image](https://user-images.githubusercontent.com/57621682/197136000-b3b9087b-8450-4085-ab82-6fd455d65f14.png)

[2022-10-21 07:17] #623 closed

[2022-10-21 07:44] TanushreeSG opened #655 "Issues in tab name and downloaded reports(NVSK)"
Nipun bharath
- Tabs name and downloaded report name are not same

![Image](https://user-images.githubusercontent.com/114054046/197140582-29b40249-aada-4278-8d12-f41536c7c74e.png)

- Download report and data in the map are not same

PGI(State wise performance and district wise performance)
- In download report all metric data is displaying instead of displaying only selected metric value

![Image]

[2022-10-21 07:51] chetandg123 opened #656 "Azur - Diksha_data_summary file processing is not happening"
Emitted the diksha tpd enrolment file to diksha_enrolment folder , file is not processing in static data processor

[2022-10-21 08:01] pandutibil commented on #651
@devu1454 API end point is configured in a wrong way in config.yml. Please correct it and deploy the changes.

[2022-10-21 08:24] chetandg123 commented on #654
Defect is working now due to admin console api issue is not worked earlier

![Image](https://user-images.githubusercontent.com/64146636/197149336-1a418d8b-2c96-4c01-8fe1-839e1deec411.png)

[2022-10-21 08:38] htvenkatesh commented on #655
@TanushreeSG lets move this to minor and take it in next sprint

[2022-10-21 08:40] devu1454 commented on #651
Working as expected

[2022-10-21 08:40] #651 closed

[2022-10-21 08:47] pandutibil commented on #652
@chetandg123 please test the issue

[2022-10-21 09:15] devu1454 commented on #642
Diksha_transformer_custom is working working but still the error message is showing

[2022-10-21 09:19] devu1454 commented on #647
Working as expected in s3

[2022-10-21 09:19] #647 closed

[2022-10-21 09:21] htvenkatesh commented on #642
@dhanush-2397 can u look into this?

[2022-10-21 09:26] devu1454 commented on #413
Diksha Learning Sessions Summary still not displaying.

![Image](https://user-images.githubusercontent.com/57621682/197162592-9fe37b75-6209-45c4-a4a0-6bf582f515cd.png)

[2022-10-21 09:31] chetandg123 commented on #652
@pandutibil tested the dynamic date for cQube core -2 reports , done with file processing now in UI on each report dashboard
example:
Education Official - processed data on 21 Oct 2022 but in UI showing - 17 Oct 2022
and all other dashboards also .

[2022-10-21 09:57] chetandg123 commented on #478
@htvenkatesh @pandutibil tested the dynamic date for cQube core -2 reports , done with file processing now in UI on each report dashboard
example:
Education Official - processed data on 21 Oct 2022 but in UI showing - 17 Oct 2022
and all other dashboards also

[2022-10-21 09:58] chetandg123 commented on #652
All report are showing data

[2022-10-21 10:14] chetandg123 opened #657 "Change password icon and logout does not have tooltip information"
Login with report viewer user
- change password (key) icon not having tooltip info when user mouse hover on it
- logout icon not having tooltip info when mouse hover on it

[2022-10-21 10:19] htvenkatesh commented on #478
@pandutibil can u check this quickly if possible

[2022-10-21 10:21] ayesha-siddiq123 commented on #648
@devu1454 updated the slab validations. resolved the bug, please pull the latest code and test.

[2022-10-21 10:27] pandutibil commented on #478
Checking @htvenkatesh

[2022-10-21 10:44] devu1454 commented on #413
Working as expected

[2022-10-21 10:51] devu1454 commented on #648
slab error message is properly displaying

[2022-10-21 10:56] chetandg123 commented on #478
@htvenkatesh
connected with @pandutibil : updated that for dynamic date display on footer they are refering the school_management_category folder date stamp so ,
I have processed **school_management** file on 17th Oct 2022

**Scanario:**
Deleted the infra output files from output container and processed the infra_trans file after completion of processing output files are generated but
school_manag

[2022-10-21 11:24] krishnakr6 commented on #656
Azure support  is not implemented in the below code.
https://github.com/Sunbird-cQube/cQube_Edu/blob/cqube-v4.0-beta/processing/datasource/python/diksha_enrolment_file_split.py

@Shoaib15khan add the azure support here.

[2022-10-24 04:27] devu1454 commented on #641
Working as expected

[2022-10-24 04:27] #641 closed

[2022-10-24 07:32] Inchara98 opened #658 "Download report issues"
**Nishtha**
- Table name in downloaded report is different (In report it is program name and in downloaded report it is program)**Implementation status**

![Image](https://user-images.githubusercontent.com/89445054/197465717-ae31177b-2db9-4069-a771-82bcfecf03fa.png)

- Table name in downloaded report is different (Target achieved enrolment is missing in downloaded report) - **% against potential**

[2022-10-24 07:58] Inchara98 opened #659 "No blocks are displaying in block dropdown"
Teacher Attendance exception

No blocks are displaying in block dropdown

![Image](https://user-images.githubusercontent.com/89445054/197476268-839927a8-b2d2-4aa5-a83f-1a96d864b481.png)

[2022-10-24 08:59] devu1454 commented on #650
core reports are working as expected

[2022-10-24 08:59] #650 closed

[2022-10-24 09:24] Inchara98 opened #660 "Map is not loading in PM Poshan (onpremise)"
Config file state name = UP
PM Poshan map report  is not loading

![Image](https://user-images.githubusercontent.com/89445054/197493741-b9bf3cde-42d7-4348-be4b-b941b47b4761.png)

[2022-10-24 09:31] Inchara98 opened #661 "State name is displaying as Uttarkhand"
In Config file state name = UP
In learning session on potential user map report state name is displaying as Uttarkhand in tooltip

![Image](https://user-images.githubusercontent.com/89445054/197494657-2cccfae7-d133-4e30-87b2-f8b273d7e688.png)

[2022-10-24 09:33] chetandg123 opened #662 "Regression Defect - Udise tooltip information having empty"
if any indices do not value then it should be shown as 0 instead of showing empty
example:
Actual Value:-  ICT Lab:
Expected Value:-  ICT Lab: 0

![Image](https://user-images.githubusercontent.com/64146636/197496442-184ed38e-4f94-495c-b97e-3ba16495f45e.png)

[2022-10-24 09:37] chetandg123 opened #663 "Regression Defect - Student attendance Report"
- Select the option from choose year dropdown and Download Academic Year Data link text is displayed in blue color - should be displayed in black color or else same as the color given to click on trend link text
- Click on trends link text is not aligned properly

![Image](https://user-images.githubusercontent.com/64146636/197496339-3b04a380-f0c6-4cff-a86c-34a312f0cc43.png)

![Image](https://user-

[2022-10-24 09:39] chetandg123 opened #664 "Regression Defect - Usage by Course Report"
Usage by Course:
-----------------

- [x]  Usage by Courses: in the bar chart -> Percentage symbol is missing after the value

- [x] Select any time range and click on the download report button - downloaded CSV file name is not proper according to a selection of period for example:
Actual for last 30 days: usage_by_course_all_24-10-2022.csv
Expected for last 30 days: usage_by_course_last_30_days_

[2022-10-24 09:40] chetandg123 opened #665 "Regression Defect - usage by content course report"
Usage by content course:
------------------------

- [x] Download raw file link text is not aligned properly

- [ ] Select district dropdown having others as district

![Image](https://user-images.githubusercontent.com/64146636/197497566-9023c4b9-0430-46fa-81af-0576f81bab2d.png)

[2022-10-24 09:42] chetandg123 opened #666 "Regression Defect - Course Progress Report"
Course Progress:
----------------

- [ ] Choose course dropdown having more width

- [ ] if select the last 30 days option from the time range, if does not have data then should be displayed as 'No data found' or 'No data available' instead of showing an empty screen

- [ ] if any heat chart cell does not tooltip (white empty cells) does not show any tooltip earlier cQube

![Image](https://user-im

[2022-10-24 09:48] Inchara98 opened #667 "Block button is not disabling after selection of district"
Student Performance (SAT)

After selection of district , Block button is not disabling

![Image](https://user-images.githubusercontent.com/89445054/197498875-bccfb65f-680d-4194-809a-b916cc4dbaef.png)

[2022-10-24 09:52] chetandg123 opened #668 "Regression Defect - User Progress Report"
User Progress:
--------------
- The download Report button is not aligned properly
- Select any program ( Kalarava) - mouse hover on any bar tooltip -> %Enrolled showing more than 100.
- Select time ranges except over -> others showing no data found so the error message is not aligned properly in the single line

![Image](https://user-images.githubusercontent.com/64146636/197499547-52844fc2-851f-4

[2022-10-24 09:53] chetandg123 opened #669 "Regression Defect - TPD GPS of learning Report"
Course - GPS Of Learning
-----------------------------------
- Click on any leged cards map is not showing properly
- Select Avg Time Spent option from the dropdown, map markers information having avg time spent value is not working with legend cards
example - refer to screenshot showing 83mins 23 secs if click on the 0.43 - 149.002 legend button then the markers are not showing it comes between 0

[2022-10-24 09:57] chetandg123 opened #670 "Regression Defect - User Engagement Report"
User Engagement
-------------------------
- Report showing no data available

![Image](https://user-images.githubusercontent.com/64146636/197500893-e8383317-4cc9-46de-b246-f9a0ec9ca662.png)

[2022-10-24 09:59] chetandg123 opened #671 "Regression Defect - User Onboarding Report"
User onboarding
---------------
- select program, course, and select districts showing no data available then the dropdown is not showing complete options
- Selection of district wise showing no data available
scenario  - select program or course after that select districts

![Image](https://user-images.githubusercontent.com/64146636/197501275-0ba8c523-cbf2-4184-8583-0ff2da50573e.png)

[2022-10-24 10:01] chetandg123 opened #672 "Regression Defect - Usage by textbook Report"
usage by Textbook:
------------------
- Select any time range and click on the download report button - downloaded CSV file name is not proper according to a selection of period for example:
Actual for last 30 days: usage_by_course_all_24-10-2022.csv
Expected for last 30 days: usage_by_course_last_30_days_24-10-2022.csv

- Total-Content Plays: 61,421 should be displayed in the right corner instead

[2022-10-24 10:04] chetandg123 opened #673 "Regression Defect - gps of learning tpd and etb reports"
Dial Resouce - GPS Of learning
------------------------------
- Click on any leged cards map is not showing properly

![Image](https://user-images.githubusercontent.com/64146636/197502096-437449d2-8d63-46f0-aef5-3ccb4a75e712.png)

[2022-10-24 10:05] chetandg123 opened #674 "Regression Defect - Usage Per Capita Report"
Dial Resouce - Usage Per Capita
-------------------------------
- Click on any leged cards map is not showing properly
- Usage Outside State:-
Total-Content Plays:
is not showing the value

![Image](https://user-images.githubusercontent.com/64146636/197502410-8bd22227-0a9d-4f19-b289-3cd52f389be4.png)

[2022-10-24 10:07] chetandg123 opened #675 "Regression Defect - Content Preference Report"
Content Preference
-------------------
- Click on the Download Report button, file is not downloaded
- Select the state with the district option and click on the download report button, file is not downloaded

[2022-10-24 10:11] Inchara98 opened #676 "Progress card issue"
Click on submit button
Progress reports are not displaying

![Image](https://user-images.githubusercontent.com/89445054/197503303-3e4ae717-a12d-4d5c-8ad8-8a26c0b5fb9c.png)

[2022-10-24 10:59] chetandg123 commented on #656
@htvenkatesh @padmanabha1234 @Shoaib15khan emitted the diksha_data_summary_UP_76dis.zip file to Diksha folder , nifi processing is not happening

[2022-10-24 12:23] devu1454 commented on #643
Re-tested not fixed

[2022-10-24 13:18] pandutibil commented on #661
@devu1454 Please update the state code for Uttar Pradesh in the datasource according to the state master

[2022-10-25 01:14] pandutibil commented on #660
Missing information of UP state in the data source. Handled it with No Data Message instead of showing it as an error.

[2022-10-25 04:07] htvenkatesh commented on #630
@FaizanMohammed326 @padmanabha1234 wts the update on this ticket?

[2022-10-25 04:08] htvenkatesh commented on #642
@padmanabha1234 wts the update on this ticket?

[2022-10-25 04:09] htvenkatesh commented on #656
@padmanabha1234 @Shoaib15khan wts the update on this ticket?

[2022-10-25 04:10] padmanabha1234 commented on #642
@htvenkatesh I am working on the python code

[2022-10-25 04:14] htvenkatesh commented on #643
@pandutibil wts the update on this?

[2022-10-25 04:19] pandutibil commented on #643
@htvenkatesh @devu1454

It's loading correctly now

![Image](https://user-images.githubusercontent.com/76088803/197681567-49383011-8a90-43f3-83f0-6b117d4364f8.png)

[2022-10-25 04:20] devu1454 opened #677 "Regression textbook_distribution"
### Textbook_distribution lo report defects.

1.**If no data in the table report, Then the data display section becomes small.**

2.year and month
  Choose Year(2022-23)
  Choose Month(September)
  Choose Week(5)
  Choose Date(2022-09-30)
  Change the grade from 3 to all grades
  **Issue : reset is happening and re-directing to overall**

3.Choose default week selection is not happening

4.year an

[2022-10-25 04:20] htvenkatesh commented on #643
@pandutibil can u move for QA

@devu1454 can u verify this and close if its working

[2022-10-25 04:21] Inchara98 commented on #401
working as expected

[2022-10-25 04:21] #401 closed

[2022-10-25 04:22] htvenkatesh commented on #644
@pandutibil wts the update on this ticket?

[2022-10-25 04:22] htvenkatesh commented on #478
@devu1454 @chetandg123 @pandutibil wts the update on this ticket?

[2022-10-25 04:25] pandutibil commented on #644
@Inchara98
1. Actually there is no state filter for the VSK installation. If you're checking in your local, then you need to set the installation type as state. I've checked in the demo 1 instance an the report is loading fine. Please let me know if you're still facing the same issue.
2. We just need to update the main metrics configuration file with proper image URLs.
3. As the datasource files a

[2022-10-25 04:27] asifbasha61 commented on #477
Code release for taking backup automatically and pushing it to respective container or s3 bucket as per the storage selection.
As of now editing the cronjob is manual. Working on the script to make setting of cronjob automated and validating the cron syntax

[2022-10-25 05:37] Inchara98 commented on #644
Working as expected

[2022-10-25 05:37] #644 closed

[2022-10-25 05:47] devu1454 commented on #630
Still disksha summary-rollup error message is displaying

![Image](https://user-images.githubusercontent.com/57621682/197692856-a6849691-7a90-4e89-8e00-5960caa2ab23.png)

[2022-10-25 06:04] Inchara98 commented on #420
working as expected

[2022-10-25 06:04] #420 closed

[2022-10-25 06:04] Inchara98 commented on #419
working as expected

[2022-10-25 06:04] #419 closed

[2022-10-25 06:04] Inchara98 commented on #419
working as expected

[2022-10-25 06:12] Inchara98 commented on #423
working as expected

[2022-10-25 06:12] #423 closed

[2022-10-25 06:29] Inchara98 commented on #426
working as expected

[2022-10-25 06:29] #426 closed

[2022-10-25 06:37] Inchara98 commented on #428
working as expected

[2022-10-25 06:37] #428 closed

[2022-10-25 06:39] Inchara98 commented on #429
working as expected

[2022-10-25 06:39] #429 closed

[2022-10-25 06:39] Inchara98 commented on #434
working as expected

[2022-10-25 06:39] #434 closed

[2022-10-25 06:59] Inchara98 commented on #443
working as expected

[2022-10-25 06:59] #443 closed

[2022-10-25 07:15] devu1454 commented on #661
Working as expected

[2022-10-25 07:15] #661 closed

[2022-10-25 07:17] devu1454 commented on #660
No data is displaying

[2022-10-25 07:17] #660 closed

[2022-10-25 07:19] devu1454 opened #678 "NAS,UDISE & PGI districtwise performance tooltip is not displaying"
1.Mouse over on the nas districtwise perforamce report.
Issue : tooltip is not showing
2.Mouse over on the udise districtwise perforamce report.
Issue : tooltip is not showing
3.Mouse over on the pgi districtwise perforamce report.
Issue : tooltip is not showing

[2022-10-25 07:21] devu1454 commented on #643
working as expected

[2022-10-25 07:21] #643 closed

[2022-10-25 07:49] devu1454 commented on #630
1.After changing the password page is not redirecting to login page (Working as expected)
Data replay is not working (Checked for infra and teacher attendance working as expected)
Diksha summary rollup periodic selection is not working (still error message is showing)

![Image](https://user-images.githubusercontent.com/57621682/197714910-25a8224c-3ec0-49f4-8d9d-d7b83d036a5c.png)

[2022-10-25 08:09] devu1454 commented on #413
tested the diksha_etb_etb-coverage.json summary statistics is displaying

[2022-10-25 08:09] devu1454 commented on #413
tested the log_summary_diksha_etb_qr-coverage.json, Summary statistics is not dispalying

[2022-10-25 09:10] devu1454 commented on #632
1.data reply is not working
2.Diksha summary-rollup Periodic Selection is not working

[2022-10-25 09:14] devu1454 commented on #413
tested the log_summary_diksha_etb_qr-coverage.json working as expected

[2022-10-25 09:14] #413 closed

[2022-10-25 10:37] devu1454 commented on #656
@htvenkatesh re-tested this issue, still nifi is not picking the file from emission data storage

[2022-10-25 10:42] dhanush-2397 commented on #621
@Inchara98 url is changed, please re-test.

[2022-10-25 10:45] Inchara98 commented on #621
Working as expected

[2022-10-25 10:45] #621 closed

[2022-10-25 11:12] #657 closed

[2022-10-25 12:05] pandutibil commented on #678
Updated district ids in the UP state geojson according to the usecase(datasource).

[2022-10-25 12:08] pandutibil commented on #678
@devu1454 Please retest the scenario

[2022-10-25 13:44] RNarmatha opened #679 "Validation for cron tab Variable"

[2022-10-25 13:54] RNarmatha opened #680 "Knowledge Training for cQube"

[2022-10-25 14:07] RNarmatha opened #681 "Exploring on open API to create API's for the configuration"
Exploring on

- How open API works
- How to write the API specification using yaml

[2022-10-27 04:12] RNarmatha commented on #505
@Shoaib15khan please do the retest and update the comment

[2022-10-27 04:42] Shoaib15khan commented on #680
KT has been given to sharmashbee , Ramya R and Tinu NS.
We have completed
Architecture,
Each UI report wise data source explanation,
Configuration in cQube,
File emission process,
Validation process.

[2022-10-27 05:25] FaizanMohammed326 commented on #630
earlier due to missing exit code from pythion script, the node api was being held in pending state, due to which this issue was raised. So need to discuss with @Sharathnaik38 and find a work around to fix the issue.

[2022-10-27 05:32] FaizanMohammed326 commented on #642
earlier due to missing exit code from pythion script, the node api was being held in pending state, due to which this issue was raised. So need to discuss with @Sharathnaik38 and find a work around to fix the issue.

[2022-10-27 07:02] devu1454 commented on #670
@padmanabha1234 below files are generated with null. Please check the issue.
diksha/hbar/course/district.json
diksha/hbar/course/state.json

[2022-10-27 07:08] devu1454 commented on #678
Working as expected

[2022-10-27 07:09] devu1454 commented on #656
Re-tested this issue, Still nifi is not picking the diksha_data_summary adn diksha_tpd file

[2022-10-27 07:10] Shoaib15khan commented on #505
@murali003 sat mapreport overall files are not generated  please check .

[2022-10-27 09:23] dhanush-2397 commented on #632
@devu1454 Please re-test Data Replay for Azure.

[2022-10-27 09:28] #425 closed

[2022-10-27 09:30] devu1454 commented on #636
@dhanush-2397 still i can see that tooltip information is showing in a single line.

![Image](https://user-images.githubusercontent.com/57621682/198248095-ea1837c6-a6e7-4626-b1d1-31d26435fbeb.png)

[2022-10-27 11:28] dhanush-2397 commented on #636
@devu1454 Please take a re-test for the above ticket

[2022-10-27 11:39] murali003 commented on #505
@Shoaib15khan the queries is not updated in the sat_queries.json, so @PavitraIR  please look into this issue.

[2022-10-27 11:56] murali003 commented on #656
@devu1454 you have checked older version can you please take latest updated code and re-test.

[2022-10-27 12:09] devu1454 commented on #656
@murali003 Installed the updated code and checked the data processing of diksha files. Still i am unable to process the diksha_data_summary.zip file

[2022-10-27 12:19] asifbasha61 commented on #477
With the automated script cronjob is getting scheduled in the root user and not able to trigger the script. Working on the script to trigger the cronjob in the non root user.

[2022-10-27 12:23] devu1454 commented on #477
Backup is automatic and restore is manual is working as expected

[2022-10-27 12:23] #477 closed

[2022-10-27 12:28] devu1454 commented on #632
Data Replay/Retention is working as expected. Tested for infrastructure, crc, teacher_attendance and sat

[2022-10-27 12:32] devu1454 commented on #632
Still diksha summary-rollup Periodic Selection is not working

[2022-10-27 12:47] dhanush-2397 commented on #632
@devu1454 For Diksha summary roll up faizan is working with padmanabha regarding few changes.

[2022-10-27 12:49] padmanabha1234 commented on #632
@devu1454 Code is done, once merged please take a re-test on it.

[2022-10-28 04:56] satendrapalsingh commented on #680
Training completed, assessment tasks WIP.

[2022-10-28 06:45] chetandg123 commented on #636
TDD
1. After installation of cQube Application , process the statics files (district , block , cluster , school master , management , subject details , grade details data files ) to the static data processor and check whether db also updated with respective the table with information - **Pass/Fail**
2. Process the Periodic Assessment data file - **Pass/Fail**

- [ ] Periodic Assessment exam master

[2022-10-28 06:51] devu1454 commented on #642
TDD for diksha summary rollup

1.cQube Installation with storage_type as s3. **(Pass)**
   Exp Outcome : cQube must be installed successfully without errors and successful message should be shown on the console

2.Diksha_transformer_custom data source should be configured **(Pass)**
    Exp Outcome : diksha_tansformer_custom process status  is stopped and invalid components is 0

3.Static_files sh

[2022-10-28 06:56] ayesha-siddiq123 commented on #679
TDD
1. Validate the crontab_value: variable is present in the config.yml - Pass/Fail
2. Run config.yml without filling the variable value check whether throwing exception/error or not - Pass/Fail
3. Provide the crontab_value: as Integer value along with 0-59 for Minutes and 0-23 ans 1-31 for day of the month and 1-12 for months and 0-6 for day of the week it is accepting the value or not - Pass/Fa

[2022-10-28 07:00] murali003 commented on #656
Task:
1. Emit the diksha_data_summary enrolment file to diksha_enrolment folder
azure: diksha_data_summary file should be pick from emission bucket
2. once it's pick the file all validation should be happen

Expected Result:
1. Data should be updated in database table
2. In log_summary folder, log_summary_diksha.json file to be generated

[2022-10-28 07:13] bommalla commented on #476
Test Driven Development steps:
1. Create a Benchmark Documentation by Ingestion/Processing ---- **Pass**
2. Process the Periodic Assessment data file through Ingestion API ------ Pass
- Periodic_exam_grade_details.zip
- Periodic_exam_subject_details.zip
- Periodic_exam_mst.zip
- Periodic_exam_qst_mst.zip
- Periodic_exam_result_trans.zip
3.Observing the file size ----- Pass
4.Observing the data siz

[2022-10-28 07:26] devu1454 commented on #630
@FaizanMohammed326 @dhanush-2397 Re-deployed the latest code and tried to access the admin console.
Issue : admin console page is not working.

![Image](https://user-images.githubusercontent.com/57621682/198528815-18d6f1ed-93e7-46cd-bb3e-efcfe6905b92.png)

[2022-10-28 07:31] dhanush-2397 commented on #489
**Test cases for number format**
1) check if the data coming from backend contain NaN.
2) If the particular data is not available or it contains NaN write a function to format the data and present it in a proper format. Check if the function returns proper format.

[2022-10-28 08:16] chetandg123 commented on #632
@dhanush-2397 @asifbasha61 we are not able to enter the admin console dashboard please refer below screen shot for reference

![Image](https://user-images.githubusercontent.com/64146636/198539177-bb183222-a88f-406b-bc01-723082d20102.png)

[2022-10-28 08:37] PavitraIR commented on #505
Task :

     1.To processing sat_learning_p1_indicator_cluster query to calculate the school_id wise marks of students.

Expected Result:

     1. All students marks should be updated in the table and nifi queries as well.

[2022-10-28 08:48] asifbasha61 commented on #376
Outcome: Validation error message should be in proper order according to the config.yml file.

[2022-10-28 09:15] asifbasha61 commented on #477
1. User needs to fill a variable defining the cron syntax. - validation to check if syntax is correct
2. Ansible needs to pick the syntax and schedule a cronjob automatically. - check in crontab if job has been scheduled.
3. cronjob should run according to the defined period. - check if the backup is happening and being uploaded to respective storage

[2022-10-28 10:17] devu1454 commented on #642
Admin console is not working after deployment of latest code.

![Image](https://user-images.githubusercontent.com/57621682/198564191-6611fd21-949f-44ce-9549-daf2e869210f.png)

[2022-10-31 03:35] RNarmatha commented on #630
@FaizanMohammed326 , Please work on this ticket and post  the comment

[2022-10-31 03:36] RNarmatha commented on #567
@pandutibil , Please update the status of this ticket

[2022-10-31 03:37] RNarmatha commented on #505
@PavitraIR , @murali003  and @Shoaib15khan , Please update the status of this ticket and mentioned the target completion date.

[2022-10-31 03:38] RNarmatha commented on #478
@pandutibil , Please take this ticket as priority and update the status of this ticket

[2022-10-31 03:49] chetandg123 commented on #636
@htvenkatesh @dhanush-2397  Re-tested the tooltip information alignment issues is resolved please find the below screen shot for the reference

![Image](https://user-images.githubusercontent.com/64146636/198927279-89eae1bc-54c6-493d-9247-a8695a6c9dd7.jpg)

[2022-10-31 04:20] Ramya-kmurthy opened #684 "Understanding of HTTP"
1. Understanding of HTTP
2. HTTP Methods(GET,POST)
3. writing sample code on GET and POST

[2022-10-31 04:26] JalajaTR opened #685 "KT on cQube processing part"
Topics to be covered under this KT are:
1. Overview of cQube application
2. Architecture of cQube
3. Role of PostgreSQL in cqube
4. Overview on all the Datasources in cQube
5. Processing of the datasources - validations and aggregations
6. Output files generations
7. Configurability in cQube

[2022-10-31 04:36] satendrapalsingh commented on #473
@htvenkatesh - Please review
@pandutibil, @RNarmatha  FYI

[2022-10-31 04:37] JalajaTR commented on #685
27/10/2022
Completed the KT on the overview of the cQube application all the existing dashboards which are coming as aggregated data and which are coming as raw data and the understanding on each reports.

[2022-10-31 04:38] satendrapalsingh commented on #613
@htvenkatesh - Please review
@krishnakr6 , @RNarmatha FYI

[2022-10-31 04:53] ayesha-siddiq123 commented on #577
@htvenkatesh  please review the document.

[2022-10-31 04:55] satendrapalsingh commented on #681
Reference ticket as sub-task #684

[2022-10-31 04:55] ayesha-siddiq123 commented on #472
@htvenkatesh @RNarmatha  need to discuss with Suren.

[2022-10-31 04:56] satendrapalsingh commented on #684
Part of task #681

[2022-10-31 05:10] satendrapalsingh commented on #685
@nstinu Please create and share documentation (reverse-KT) for completed KT session.

[2022-10-31 05:14] #96 closed

[2022-10-31 05:41] Inchara98 commented on #340
Retested not fixed

[2022-10-31 05:46] Inchara98 commented on #399
Retested not fixed

[2022-10-31 05:47] Inchara98 commented on #400
Retested not fixed

[2022-10-31 05:48] Inchara98 commented on #402
Retested not fixed

[2022-10-31 05:50] Inchara98 commented on #418
Retested not fixed

[2022-10-31 05:52] Inchara98 commented on #422
Retested not fixed

[2022-10-31 05:59] Inchara98 commented on #424
Issue2 - Fixed rest of the issues are not fixed

[2022-10-31 06:00] Inchara98 commented on #427
Retested not fixed

[2022-10-31 06:01] Inchara98 commented on #433
Retested not fixed

[2022-10-31 06:01] Inchara98 commented on #437
Retested not fixed

[2022-10-31 06:04] Inchara98 commented on #441
Retested not fixed

[2022-10-31 06:09] Inchara98 commented on #442
Retested not fixed

[2022-10-31 06:09] Inchara98 commented on #479
Retested not fixed

[2022-10-31 06:11] Inchara98 commented on #480
Retested not fixed

[2022-10-31 06:13] Inchara98 commented on #492
Retested not fixed

[2022-10-31 06:14] Inchara98 commented on #560
Retested not fixed

[2022-10-31 06:16] Inchara98 commented on #619
Retested not fixed

[2022-10-31 06:18] Inchara98 commented on #659
Retested not fixed

[2022-10-31 07:29] chetandg123 commented on #376
@satendrapalsingh @asifbasha61
Without Filling config.yml file and started the installation of cQube -> Config.yml file validation is not working

![Image](https://user-images.githubusercontent.com/64146636/198953941-285afec5-69e3-4a31-9988-cc4c9bbc7d95.png)

Validating the config file...
Currently cQube 4.0 version is installed in this machine. Follow Upgradtion process if you want to upgrade.
If

[2022-10-31 07:32] Shoaib15khan commented on #680
Need to complete below concepts in KT.

1. [Installation of cQube ].
2. [data track after processing in Nifi]
3. [Understanding of Business Logic each datasource wise]

[2022-10-31 07:35] chetandg123 commented on #568
@dhanush-2397 please check with @pandutibil or @Sharathnaik38 and give update here

[2022-10-31 09:48] bommalla commented on #476
1. I'm done with cQube s3 installation and file processing through ingestion API
2. Need to check with Azure and on-premise

[2022-10-31 10:09] dhanush-2397 commented on #568
@pandutibil Can you please look into this issue.

[2022-10-31 10:59] dhanush-2397 commented on #567
@RNarmatha We will take this later as we do not have data source in dev.

[2022-10-31 11:23] pandutibil commented on #478
Hidden the date stamp in the application footer if there is no data available for the report

[2022-10-31 11:25] pandutibil commented on #478
@chetandg123 please retest the scenario

[2022-10-31 11:42] pandutibil commented on #568
@chetandg123 please review the tab names given in the database table from which we are retrieving the tab information for the configurable data sources

[2022-10-31 12:14] PavitraIR commented on #505
Assigning to @Shoaib15khan for retesting.

[2022-10-31 12:29] chetandg123 commented on #568
@pandutibil re-tested this defect is resolved , working as expected

[2022-10-31 12:33] RNarmatha commented on #656
@chetandg123  Please do the retest.

[2022-10-31 12:37] chetandg123 commented on #376
@RNarmatha @ayesha-siddiq123  Re-tested the **4.Order of error messages is not proper** defect is resolved , able to see the error message as order of config variables

[2022-10-31 13:46] dhanush-2397 commented on #433
District Name keyword is removed and district name will appear in bold similar to other reports in courses(user progress).

[2022-11-02 03:25] chetandg123 commented on #478
@pandutibil after deployment of latest code we are not able to see the cQube core 2 reports please find the below console error for the reference

![Image](https://user-images.githubusercontent.com/64146636/199388223-0c6c2090-fbe3-4b80-95c0-d47c52d35995.png)

[2022-11-02 03:26] chetandg123 opened #686 "cQube - s3 file is processing is not working for diksha tpd enrolment"
cQube s3 Installed in demo3 machine

- Emitted the diksha tpd enrolment file to static data processor while processing it showing error please find the below error message attached below for the reference

**Issue:** Machine is configured with s3 buckets , here azur related configuration error is showing

![Image](https://user-images.githubusercontent.com/64146636/199388540-78ae8103-471e-4b35-8d08

[2022-11-02 04:11] TanushreeSG opened #687 "one step re installation is failed"
Deployment of latest code is failed please find the screen shot for reference

![Image](https://user-images.githubusercontent.com/114054046/199393907-5ceba5aa-602c-436e-99bd-17bc7054ce96.png)

One step re installation-Fail

[2022-11-02 04:14] chetandg123 opened #688 "Azur - Re-Installation validation of config.yml task is missing"
While doing latest code re-installation in azur

**Issue:** Missing Config.yml file successfully validated

![Image](https://user-images.githubusercontent.com/64146636/199394399-be06e130-c9e1-46e2-a7b3-1be28df30b39.png)

[2022-11-02 04:35] RNarmatha commented on #505
Need to discuss with Jalaja - Shoaib

[2022-11-02 04:55] chetandg123 commented on #632
Task is paused due to dependency of issue #688

[2022-11-02 04:55] chetandg123 commented on #642
Task is paused due to dependency of issue #688

[2022-11-02 04:56] chetandg123 commented on #656
Task is paused due to dependency of issue #688

[2022-11-02 05:19] ayesha-siddiq123 commented on #688
@chetandg123 modified code for validation of config.yml, unit test also done.
please pull the latest code and test.

[2022-11-02 05:20] chetandg123 commented on #688
@ayesha-siddiq123 sure

[2022-11-02 05:48] ayesha-siddiq123 commented on #687
@TanushreeSG modified the validation of config.yml, pull the latest code, and test

[2022-11-02 06:00] chetandg123 commented on #688
@ayesha-siddiq123 Re-tested the defect is working as expected

[2022-11-02 06:17] FaizanMohammed326 commented on #437
Test Cases:
1. On selection of time period need to check whether the error msg display style is being changed from none to block. If not need to add it in api fail code block.

Outcome: On selection of any time period dropdown if no data available, need to display no data error message.

[2022-11-02 06:36] FaizanMohammed326 commented on #676
Test Cases:
    1. Need to check when submit button is clicked without selecting any location details, whether home function is called again to display the on load details again, if not after alert message need to call the home function.

Outcome Expected:
    On click of submit button without selecting any location details, after alert message, basic/home details should displayed again instead of

[2022-11-02 07:06] TanushreeSG commented on #687
for this issue Ayesha asked us to terminate the machine and to do fresh installation @htvenkatesh @RNarmatha  FYI

[2022-11-02 08:02] chetandg123 commented on #656
@padmanabha1234 diksha tpd enrolment file processing is not working

![Image](https://user-images.githubusercontent.com/64146636/199432876-55d4ae83-6e81-4c2f-8cd7-44b90438304c.png)

[2022-11-02 08:15] chetandg123 commented on #687
@htvenkatesh @RNarmatha
For all instances if do re-installation we are getting above error

Solution suggested by @ayesha-siddiq123  - Re-create the machine machine and start fresh installation

@htvenkatesh we need to discuss with this issue

![Image](https://user-images.githubusercontent.com/64146636/199435440-2cbe8f07-79a8-4abc-b9b2-5e944278c79b.png)

[2022-11-02 08:18] chetandg123 commented on #642
Deployment of latest code is failing at

![Image](https://user-images.githubusercontent.com/64146636/199436097-459e122b-24e6-46cb-ab3e-05cbcca2449b.png)

[2022-11-02 09:11] Shoaib15khan commented on #505
Issue with the sat marks column has been resolved

[2022-11-02 09:44] Inchara98 commented on #630
@FaizanMohammed326  retested not fixed

[2022-11-02 10:12] chetandg123 commented on #642
@pandutibil @FaizanMohammed326 in s3 not able to go inside the admin console screen we are getting errors in console , refer the screen shot for the reference

![Image](https://user-images.githubusercontent.com/64146636/199463291-500f4299-f1ba-4c52-ab7b-212a1fbe9cdf.png)

[2022-11-02 10:31] chetandg123 commented on #478
@padmanabha1234   above issue i got updates from @pandutibil that output folder structure is not correct
please refer the cqube-qa10-output having all data sources except diksha

[2022-11-02 10:34] chetandg123 commented on #632
Defect re-testing is paused due to issue #656

[2022-11-02 10:39] chetandg123 commented on #687
@RNarmatha defect is re-tested resolved , now working as expected

[2022-11-02 10:45] TanushreeSG commented on #424
Issue 3- retested not fixed

![Image](https://user-images.githubusercontent.com/114054046/199470173-5035489a-b4e4-45a1-b939-637a5991244b.png)

[2022-11-02 10:51] TanushreeSG commented on #433
Working as expected

[2022-11-02 10:51] #433 closed

[2022-11-02 10:53] pandutibil commented on #340
@Inchara98 do you mean x-axis and y-axis labels?

[2022-11-02 10:55] Inchara98 commented on #667
@FaizanMohammed326 retested not fixed

![Image](https://user-images.githubusercontent.com/89445054/199472149-42320cf8-ff79-4ca7-ae3d-5fd4fa69c0bb.png)

[2022-11-02 10:57] Inchara98 commented on #340
@pandutibil yes lables

[2022-11-02 10:57] TanushreeSG commented on #480
Working as expected

![Image](https://user-images.githubusercontent.com/114054046/199472571-2552a868-cd62-40bd-abd9-631ccba50a3c.png)

[2022-11-02 10:58] #480 closed

[2022-11-02 10:58] chetandg123 commented on #437
@FaizanMohammed326  re-tested defect is resolved , now we are able see the no data found error message on the report

![Image](https://user-images.githubusercontent.com/64146636/199472705-86b14354-61c8-4249-a3dc-333ae6cf5edf.png)

[2022-11-02 11:10] Inchara98 commented on #399
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199475159-9a34ee88-8768-4dcd-be06-1422023949f7.png)

[2022-11-02 11:12] #399 closed

[2022-11-02 11:26] pandutibil commented on #340
Ok

[2022-11-02 12:35] chetandg123 commented on #489
@dhanush-2397 re-tested the defect , now In tool tip one information is missing **Target Achieved**  compare to above screen shot

![Image](https://user-images.githubusercontent.com/64146636/199490896-da3e2445-3407-4893-a8ca-5435c7870950.png)

[2022-11-02 12:59] pandutibil commented on #424
@Inchara98 @TanushreeSG please retest the issues

[2022-11-03 04:24] TanushreeSG commented on #489
% Against potential base page report is not displaying

![Image](https://user-images.githubusercontent.com/114054046/199647294-e781268b-3324-48ef-9fbb-7f4a768d03e9.png)

[2022-11-03 04:28] TanushreeSG commented on #424
Working as expected

![Image](https://user-images.githubusercontent.com/114054046/199647678-7dab77ae-797e-4c90-a53f-84dfc93bf0d9.png)

[2022-11-03 04:29] #424 closed

[2022-11-03 04:31] pandutibil commented on #391
@TanushreeSG
Issue 1: fixed

[2022-11-03 04:33] TanushreeSG opened #689 "Re installation is paused"
Re installating is pausing at copying admin api script to base installation directory

![Image](https://user-images.githubusercontent.com/114054046/199647998-575427f9-9996-411b-b831-e32b2e6521d4.png)

[2022-11-03 04:34] RNarmatha commented on #340
@FaizanMohammed326 - Please update the ticket once it completed by11

[2022-11-03 05:40] ayesha-siddiq123 commented on #689
@TanushreeSG @chetandg123  checkout to cqube-v4.1-beta branch and pull the latest code and install ui again.
i tested in dev server its not pausing.

[2022-11-03 06:18] TanushreeSG commented on #489
working as expected

![Image](https://user-images.githubusercontent.com/114054046/199658217-0b7a8d4b-c17b-467e-a968-699c40279912.png)

[2022-11-03 06:20] #489 closed

[2022-11-03 06:23] Inchara98 commented on #634
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199658667-1a108001-0d5b-4190-99a1-468518b36395.png)

[2022-11-03 06:23] #634 closed

[2022-11-03 06:23] padmanabha1234 commented on #478
@chetandg123 Please emit the correct data, school management category data should be included.

[2022-11-03 06:24] Inchara98 commented on #667
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199658861-5bf1ee82-5730-4c42-808e-3b6a508049c0.png)

[2022-11-03 06:24] #667 closed

[2022-11-03 06:26] Inchara98 commented on #676
working as expected

[2022-11-03 06:26] #676 closed

[2022-11-03 06:35] chetandg123 commented on #478
@padmanabha1234 do you mean school_management_master.zip this file?  if yes i have processed the file and db also having Govt as record

[2022-11-03 07:02] TanushreeSG commented on #391
Issue 1: Resolved
Issue 2: Feature is as expected, if the bar is expanding to the end of the visible area then the toolip position will be adaptive state - Resolved
Issue 3: Datasource contains "Unknown" text so that's why Unknown option is showing - it is data issues - in data file having unknown  - Resolved

[2022-11-03 07:03] #391 closed

[2022-11-03 08:16] FaizanMohammed326 commented on #630
@Inchara98 Pls retest it. Its working now.

[2022-11-03 08:22] TanushreeSG commented on #689
@ayesha-siddiq123   by switching cQube-v4.1-beta branch also getting same issue

[2022-11-03 08:53] Inchara98 commented on #630
@FaizanMohammed326 It is not working

![Image](https://user-images.githubusercontent.com/89445054/199680324-834508f0-346e-4b88-b2a0-bcf7a1c563e3.png)

[2022-11-03 09:15] murali003 commented on #478
@PavitraIR in school_hierarchy_details table, school_management_type is not updating please look into it.

[2022-11-03 09:25] RNarmatha commented on #478
@PavitraIR , Please look out all the comments and work accordingly .

[2022-11-03 09:42] PavitraIR commented on #478
sure @RNarmatha

[2022-11-03 10:02] Shoaib15khan commented on #656
@chetandg123  issue is resolved . please take a retest on it. @RNarmatha FYI.

[2022-11-03 11:04] Inchara98 opened #690 "Tooltip issue in user onboarding"
Course (User onboarding)
Mousehover on the graph
Issue : Tooltip is not displaying right after the cursor

![Image](https://user-images.githubusercontent.com/89445054/199704980-fab31b72-097d-4520-8aac-06437320c45d.png)

[2022-11-03 11:09] TanushreeSG opened #691 "User engagement page is not loading"
courses-user engagement page is not loading

![Image](https://user-images.githubusercontent.com/114054046/199705920-bcec16c9-5c0c-4daa-9425-13c84a670783.png)

[2022-11-03 11:20] devu1454 commented on #478
@pandutibil dashboard footer dynamic timestamp is not updating.

![Image](https://user-images.githubusercontent.com/57621682/199708005-32c0afd6-70d7-4e88-ade4-75300bfb8857.png)

[2022-11-03 11:22] Inchara98 commented on #340
@FaizanMohammed326 x-axis Y-axis tittle is not present in user unboarding (Courses) , Hear beat of nation (Dial resource), composite report

[2022-11-03 11:24] chetandg123 commented on #656
@htvenkatesh Diksha all files are processed and we are able to see the ui report with data

[2022-11-03 11:29] chetandg123 commented on #632
@htvenkatesh @padmanabha1234

-Configuration - Diksha summary-rollup Periodic Selection is not working
**From admin console Configuration - Diksha summary-Rollup Periodic Selection is working showing alert pop up as selection successfully , but from nifi - diksha customer transformer is showing running as status but not processing the diksha data file**

[2022-11-03 11:32] RNarmatha commented on #630
@FaizanMohammed326  Please look into this ticket as priority

[2022-11-03 11:33] RNarmatha commented on #632
@padmanabha1234 , Please find out root cause for this ticket

[2022-11-03 11:49] chetandg123 commented on #478
@htvenkatesh @pandutibil
re-tested the defect - dynamic date showing on UI based on data sources is working as expected in Azur installed cQube

For S3 @devu1454 could you please update once you are testing is done

[2022-11-03 11:50] devu1454 commented on #642
Re-deploying the latest code and testing the issue.

[2022-11-03 11:52] dhanush-2397 commented on #560
Had a call with pavitra regarding this issue as the data is coming from data base it involves few changes.

[2022-11-03 12:06] PavitraIR commented on #560
Need to discuss with Jalaja.

[2022-11-03 12:31] FaizanMohammed326 commented on #630
@RNarmatha  the above issue is solved, but once we use diksha summary rollup not able to perform other actions in admin console. I have found the root cause, need to discuss with @htvenkatesh for a proper solution.

[2022-11-03 13:06] FaizanMohammed326 commented on #340
@Inchara98 added axis title in above reports as weel pls take a retest.

[2022-11-03 13:25] devu1454 opened #692 "diksha_enrolment file processing is failed in s3"
1.Emitted the diksha_enrolment_tpd_up_10dis.zip to s3 emission bucket and tried to process the file through nifi.
 Issue : Error while processing the file

![Image](https://user-images.githubusercontent.com/57621682/199732393-532ce973-ca37-46c5-a7d6-a073f135a5f3.png)

[2022-11-04 03:49] pandutibil commented on #402
@Inchara98 Please retest the issue

[2022-11-04 03:50] pandutibil commented on #442
Raised a Pull request to dashlet library, once that is merged issue will get resolved.

[2022-11-04 03:57] Inchara98 commented on #340
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199882396-9fa16c05-74ae-41ea-a9ae-f5c5e2f3efcd.png)

[2022-11-04 03:57] #340 closed

[2022-11-04 04:12] Inchara98 commented on #400
@pandutibil Course wise status tab(Nishtha)
After selecting overall from dropdown -- Nishtha1 program data is displaying

[2022-11-04 04:13] TanushreeSG commented on #402
Working as expected

![Image](https://user-images.githubusercontent.com/114054046/199885244-971a6ca3-05b3-436c-96b9-7938426da04c.png)

[2022-11-04 04:14] #402 closed

[2022-11-04 04:15] TanushreeSG commented on #691
Data issue

[2022-11-04 04:19] nstinu commented on #685
Documentation submitted to Jalaja for review.

[2022-11-04 04:20] chetandg123 commented on #691
@FaizanMohammed326

**tooltip information missing total enrolled value**  - refer downloaded file having total enrolled value is present

![Image](https://user-images.githubusercontent.com/64146636/199886585-1a349941-f705-46c1-bd68-68eec807d756.png)

[2022-11-04 04:26] devu1454 commented on #642
stopped the re-testing of this issue. Due to the issue in diksha_enrolment file processing.

[2022-11-04 04:28] Shoaib15khan commented on #692
This issue is same as #656. That is solved

[2022-11-04 06:35] devu1454 commented on #692
Diksha_enrolment file is processing as expected

[2022-11-04 06:35] #692 closed

[2022-11-04 06:37] chetandg123 opened #693 "Dashboard menu button - tooltip info is not displaying some times"
Mouse hover on Hamburger menu buttons - tooltip information of about button name is not displaying
refer screenshots

![Image](https://user-images.githubusercontent.com/64146636/199907986-262c8f13-aee0-4056-9a30-558c72c31ebf.png)

[2022-11-04 06:46] chetandg123 opened #694 "Exception List - Teacher attendance showing no data found"
Processed the teacher attendance file , teacher attendance exception showing no data found

![Image](https://user-images.githubusercontent.com/64146636/199909184-e10d24d7-e438-4b44-a917-f7df7d0d0462.png)

[2022-11-04 06:47] pandutibil commented on #400
@Inchara98 Different courses are there in the three Nishtha programs, that's why same values are coming for overall selection.

To check this please observe when you select overall option, all the course details will be displayed from all the programs.

[2022-11-04 07:03] Inchara98 commented on #427
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199911807-676dee09-3da2-4049-b54d-b6adb10f38f8.png)

[2022-11-04 07:03] #427 closed

[2022-11-04 07:04] Inchara98 commented on #400
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199912143-02685e4f-d843-4f28-bf51-cb63856b18a4.png)

[2022-11-04 07:04] #400 closed

[2022-11-04 07:05] chetandg123 opened #695 "Azur - PM Poshan - showing no data found"
PM Poshan Report is showing no data found

processed the file - pm-poshan_access-across-india.zip
azur cqube-state-output -> pm-poshan_access-across-india.json file

![Image](https://user-images.githubusercontent.com/64146636/199912823-da680849-40fd-4312-add5-a2eaf4e9393c.png)

[2022-11-04 07:05] Inchara98 commented on #630
Admin console is working need to retest diksha summary rollup

[2022-11-04 07:12] FaizanMohammed326 commented on #422
The first dropdown is a single select , where as the second dropdown is a multi select dropdown which can select upto 10 items. So the width of the second dropdown differs on selection, so this cant be considered as a bug.

[2022-11-04 07:27] devu1454 commented on #642
After deployment of latest code. Admin console is not working

![Image](https://user-images.githubusercontent.com/57621682/199916883-a395bf8f-996a-417f-afab-17c7b222dc3b.png)

[2022-11-04 07:28] Inchara98 commented on #630
retested working as expected

[2022-11-04 07:28] #630 closed

[2022-11-04 08:46] PavitraIR commented on #560
The values displayed in legend for other diksha metrics  is as per the contents of the column object_type  in the table diksha_total_content. Those values cannot be modified

![Image](https://user-images.githubusercontent.com/111955354/199930555-a2b98d4a-d822-4696-86b3-49c0991db881.png)

![Image](https://user-images.githubusercontent.com/111955354/199930633-916b2dcf-1a59-479a-b8e0-2744236490a7.png

[2022-11-04 09:16] devu1454 commented on #478
In s3 dynamic time stamp is working as expected

[2022-11-04 09:16] #478 closed

[2022-11-04 09:30] FaizanMohammed326 commented on #691
@chetandg123 added total erolled value in the tooltip. pls retest after pulling the latest code.

[2022-11-04 09:37] Inchara98 commented on #422
fixed

[2022-11-04 09:37] #422 closed

[2022-11-04 09:50] chetandg123 commented on #691
@FaizanMohammed326  Re-tested the defect is resolved , now working as expected

[2022-11-04 10:42] chetandg123 commented on #632
@RNarmatha tested through api , summary data file is not picking in nifi so @padmanabha1234  checking on issue

[2022-11-04 10:42] devu1454 commented on #642
@padmanabha1234 Nifi is not feching the diksha_data_summary file.

[2022-11-04 11:17] Inchara98 commented on #418
working as expected

![Image](https://user-images.githubusercontent.com/89445054/199960197-1bdbb442-7932-4e42-867f-10419c40311c.png)

[2022-11-04 11:17] #418 closed

[2022-11-04 11:25] pandutibil commented on #693
@chetandg123 Please retest the issue

[2022-11-04 11:57] devu1454 commented on #642
Working as expected

[2022-11-04 11:57] #642 closed

[2022-11-04 11:59] devu1454 commented on #686
Re-tested working as expected

[2022-11-04 11:59] #686 closed

[2022-11-07 04:07] JalajaTR commented on #684
 Completed

[2022-11-07 04:07] #684 closed

[2022-11-07 04:09] JalajaTR commented on #681
Writing the open  API specification for schema creation and Identifying the other API's required to enable  configurability.

[2022-11-07 04:12] JalajaTR opened #696 "Writing the open API specification for schema creation and Identifying the other API's required to enable configurability."
Writing the open API spec in YAML for creation of schema.

[2022-11-07 04:15] JalajaTR commented on #617
Found the python library SQLAlchemy

[2022-11-07 04:15] #617 closed

[2022-11-07 04:19] JalajaTR commented on #570
Prepared the design and reviewed with @vijayatgh
[Document](https://docs.google.com/document/d/1zDU0YfuuREh7FX1_UQTe20mfMvUbZFhyJZb43qa0Deg/edit#heading=h.h9l4prr9ggzt)

[2022-11-07 04:19] #570 closed

[2022-11-07 04:25] #648 closed

[2022-11-07 04:26] chetandg123 commented on #638
System testing is completed

[2022-11-07 04:27] chetandg123 commented on #639
Regression testing - completed the all ui reports end to end functionalities test

[2022-11-07 04:34] RNarmatha commented on #632
Azure Related - need to check

[2022-11-07 04:36] RNarmatha commented on #689
Retest

[2022-11-07 04:53] RNarmatha commented on #696
Please Approach TDD

[2022-11-07 05:07] chetandg123 commented on #694
@FaizanMohammed326 @padmanabha1234 above defect is fixed ? have you done unit test ?

[2022-11-07 05:07] chetandg123 commented on #671
@FaizanMohammed326 @padmanabha1234 above defect is fixed ? have you done unit test ?

[2022-11-07 05:10] chetandg123 commented on #670
Retested the defect - it is Resolved

![Image](https://user-images.githubusercontent.com/64146636/200231003-deb5ee3b-8a2d-4b4e-9707-b039dceac65f.png)

[2022-11-07 05:38] padmanabha1234 commented on #671
@chetandg123 The data is their in the output file.

[2022-11-07 08:56] devu1454 commented on #689
Re-tested working as expected

[2022-11-07 08:56] #689 closed

[2022-11-07 08:59] TanushreeSG commented on #567
Issue 1: Undefined is displaying in tooltip

![Image](https://user-images.githubusercontent.com/114054046/200269067-e50a9427-cd6e-4779-8ef0-1cef7e8103de.png)

Issue 2: Resolved
Issue 3: Resolved

[2022-11-07 09:51] chetandg123 commented on #632
Configuration - Diksha Summary - Roll up Periodic Selection is not working (From Admin Console)

@htvenkatesh @RNarmatha
Diksha File processing through API is only supporting to s3 (it is working as expected ) but it wont supporting in azure

@padmanabha1234 please give brief explanation

[2022-11-07 10:07] Inchara98 commented on #441
@FaizanMohammed326 Total students value is not dsplaying

![Image](https://user-images.githubusercontent.com/89445054/200283490-b140406b-bc78-412e-a38c-b8d7e80d3a09.png)

[2022-11-07 10:08] padmanabha1234 commented on #567
@TanushreeSG @chetandg123
For midday meal data_source their won't be any subject details.

@htvenkatesh FYI

[2022-11-07 10:50] pandutibil commented on #442
@Inchara98 please test the issue

[2022-11-07 11:06] pandutibil commented on #479
@Inchara98 changed the background color of tooltip to black and font color to white. If we apply the bold formatting for white text, it doesn't give any value.

![Image](https://user-images.githubusercontent.com/76088803/200295486-04a37cab-9157-4f23-b108-484be5012703.png)

[2022-11-07 11:21] #442 closed

[2022-11-07 11:23] FaizanMohammed326 commented on #441
the progress card data for total students itself from the file is returning null. progressCard/overall/state.json pls check this file @padmanabha1234 .

[2022-11-07 11:23] TanushreeSG commented on #479
Working as expected

[2022-11-07 11:23] #479 closed

[2022-11-07 11:32] PavitraIR commented on #659
@devu1454  There is a issue in the static data some of block_id and block_name are missing.

[2022-11-07 12:06] padmanabha1234 commented on #441
@PavitraIR Query is returning null please look into this.

[2022-11-07 12:37] TanushreeSG commented on #492
Retested not fixed

![Image](https://user-images.githubusercontent.com/114054046/200312210-090b2a2c-98b0-4c22-97b0-3bf50ec9a9c2.png)

[2022-11-07 12:39] pandutibil commented on #668
Issue 1 - fixed the alignment
Issue 2 - More than 100%, I think it is as expected
Issue 3 - Only overall data is there, that's why only overall data is loading.

[2022-11-07 12:39] FaizanMohammed326 commented on #492
@TanushreeSG can u please mention which report this issue is occuring.?

[2022-11-07 12:41] TanushreeSG commented on #492
@FaizanMohammed326 Nishtha (course wise status)

[2022-11-07 12:57] FaizanMohammed326 commented on #492
Please select the option 'Format quoted field as text' while opening the file and retest.

[2022-11-07 12:58] dhanush-2397 commented on #567
@chetandg123 Instead of undefined , No data text will be shown for subject column when the data is not present.
Please take a re-test.

[2022-11-08 03:34] chetandg123 commented on #567
@TanushreeSG can u re-deploy the latest ui code in demo6 machine and take re-test on this defect

[2022-11-08 04:04] TanushreeSG commented on #567
Working as expected

![Image](https://user-images.githubusercontent.com/114054046/200472596-ca2b6d32-b3a1-41ea-a556-35bbfa13f8b3.png)

[2022-11-08 04:05] #567 closed

[2022-11-08 04:13] devu1454 opened #697 "System Testing v4.1"
S3 installation(State)
- [x] Installation
- [x] Ingestion_api
- [x] Data processing
- [x] Visualization

[2022-11-08 04:13] TanushreeSG commented on #492
Working as expected

![Image](https://user-images.githubusercontent.com/114054046/200473562-ab9702d0-8fdd-476d-9863-2b6432ca6b53.png)

[2022-11-08 04:13] #492 closed

[2022-11-08 04:16] devu1454 opened #698 "Regression Testing v4.1"
Regression Testing

S3
- [ ] Visualization(State)(Chetan, Inchara & Tanushree)

[2022-11-08 04:21] devu1454 commented on #659
@PavitraIR Ok, We will re-check this issue once again

[2022-11-08 06:28] PavitraIR commented on #441
@Inchara98 Their is an Data issue, Please emit the proper data.

[2022-11-08 08:21] devu1454 opened #699 "Data processing is not happening in nifi(s3)"
### Static files data processing  in nifi
Expected outcome 1: Nifi should pick the file from s3 emission bucket and raw copy must be stored in th input bucket. **(Fail)**
                               2: Nifi should process the static data files and records must be stored in the db.
                               3: Log details must be stored in the log_summary table and log_summary.json files mu

[2022-11-08 09:05] padmanabha1234 commented on #699
@devu1454  Now it is processed! please check

[2022-11-08 09:40] devu1454 commented on #699
@padmanabha1234 ok. I will re-install and check the issue.
@htvenkatesh FYI

[2022-11-08 11:29] Inchara98 commented on #662
Retested not fixed

[2022-11-08 11:31] chetandg123 commented on #663
- [ ] Select the option from choose year dropdown and Download Academic Year Data link text is displayed in blue color - should be displayed in black color or else same as the color given to click on trend link text - not fixed

- [ ] Click on trends link text is not aligned properly - Resolved

![Image](https://user-images.githubusercontent.com/64146636/200553344-bfc66ff5-4d71-4e6e-aed1-5790dee6e

[2022-11-08 11:36] Inchara98 opened #700 "Download button alignment issue"
**Infrastructure composite report ( School Infrastructure)**
One step installation - **Pass**
Static file processing - **Pass**
Infra report file processing - **Pass**
**Issue :** - Download button is moving from corner to centre after selection of district
**Expected :** Download button should be at the corner

![Image](https://user-images.githubusercontent.com/89445054/200557417-3f669428-ddcb-40

[2022-11-08 11:36] TanushreeSG commented on #658
retested not fixed

[2022-11-08 11:51] Inchara98 opened #701 "Choose report dropdown issue"
**Education Officials (crc)**
One step installation - **Pass**
static file processing - **Pass**
CRC file processing - **Pass**

**Issue1 :** Choose report dropdown is displaying in grey colour
**Issue2 :** values in the choose report dropdown is displaying in bold letters

**Expected :** Choose report dropdown should not display in grey colour , it should display like other dropdown

[2022-11-08 12:10] TanushreeSG commented on #658
percentage symbol is not present in downloaded report - Correlation(udise+)
![Image](https://user-images.githubusercontent.com/114054046/200559945-9cbb1218-fa2c-434d-8c68-8186d203c15a.png)

[2022-11-08 12:29] chetandg123 commented on #675
@dhanush-2397 Re-tested above two defects are not working  ( After Clicking download report button - csv file is not downloaded )

[2022-11-08 12:39] Inchara98 commented on #674
Same issue in GPS of learning (Dail resource usage)

![Image](https://user-images.githubusercontent.com/89445054/200565776-c710d41e-d3e0-47db-895e-092b86c6cdaf.png)

[2022-11-08 12:40] chetandg123 commented on #673
Usage outside state info is not showing  in both TPD and ETB usage of GPS

![Image](https://user-images.githubusercontent.com/64146636/200566017-42ea9a04-159b-4140-8ac8-feb4c44872f7.png)

[2022-11-08 12:51] TanushreeSG opened #702 "No data is displaying in courses"
Issue 1-Courses (Course progress)
One step installation - Pass
Static file processing - Pass
course report file processing - Pass
Issue : Data is not displaying for last 30 days, last 7 days and last day
Expected : Data should be display for all time ranges
![Image](https://user-images.githubusercontent.com/114054046/200568096-28822445-4647-4b1e-8072-37963a6089df.png)

Issue 2 - Courses(User progr

[2022-11-08 12:51] chetandg123 opened #703 "District/block/cluster ids are showing comma separated in csv"
In cQube core -2 Map Reports
Select district/block/cluster and click on download report button
- District id/block id/cluster id is showing comma separated in the downloaded CSV file

[2022-11-08 12:53] chetandg123 opened #704 "PAT LO Table - Table header text should be displayed on center"
PAT LO Table - Table header text should be aligned to center when we select question id as choose view by word is breaking

[2022-11-08 13:32] devu1454 opened #705 "Presigned url is not generating"
Input :
curl --location --request POST 'https://demo1cqube.tibilprojects.com/data/upload-url' \
--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhRUhEa0FJZkhLbGphYjBUS29nRVdOWlA4WEhPajg5TCIsImlhdCI6MTY2NzkxNzU5Nn0.ailpHWt2IEU56-QAZpDpI0oONkj9sxKrkRcRIetAd1U' \
--header 'Content-Type: application/json' \
--data-raw '{"filename":"district_master/district_mst.zip"}'

Ex

[2022-11-09 04:05] devu1454 commented on #699
Re-tested working as expected

[2022-11-09 04:05] #699 closed

[2022-11-09 04:09] devu1454 commented on #697
System testing of Installation and ingestion_api is completed.
Data processing is in progress

[2022-11-09 04:19] chetandg123 commented on #698
Completed Regression testing for below Dashboards

- [ ] Student Performance

- [ ] Attendance

- [ ] Other Diksha Metrics

- [ ] Exception List

- [ ] Admin Console (Create user , change password , user list , summary statistics , Monitoring details , Download s3 files )

Found some defects which are already exists in **Regression Defect** tickets

[2022-11-09 04:28] RNarmatha commented on #441
@PavitraIR , could you please provide some input about the data issue

[2022-11-09 04:29] TanushreeSG commented on #698
Completed regression testing for below reports

- [ ] Nishtha

- [ ] Diksha-ETB

- [ ] PM Poshan

- [ ] NAS

- [ ] UDISE+

- [ ] PGI

- [ ] Courses

[2022-11-09 04:29] RNarmatha commented on #668
@chetandg123 What is the update on this issue 3 ?

[2022-11-09 04:29] Shoaib15khan commented on #705
Ingestion API script is not executed at the time of installation. @asifbasha61  can you please check .

[2022-11-09 04:31] Inchara98 commented on #698
Completed Regression testing for below Dashboards

- [ ] School Infrastructure
- [ ] Dial Resource access
- [ ] Education officials
Found few alignment issues

[2022-11-09 04:36] JalajaTR opened #706 "Writing the open API specifications"
Writing the open API specs for the below:

- [x] Defining the EVENTS
- [ ] Defining the CUBES
- [ ] Defining the MAPPINGS (via transformers)
- [ ] write API tracking table (google sheet)
- [ ] write YAML (link in google sheet)

[2022-11-09 04:43] chetandg123 commented on #668
@RNarmatha please find the below update on this defect

**Defect 1 :** For Download button alignment is **not fixed** for 100% of browser resolution

![Image](https://user-images.githubusercontent.com/64146636/200739811-75d4407a-664e-408d-8d4a-a9132b7363ab.png)

**Defect 2** - More than 100%, I think it is as expected - Already discussed with @pandutibil and @htvenkatesh  enrolled may be more then

[2022-11-09 04:52] chetandg123 commented on #675
@dhanush-2397
i clicked on download report button (on load report) i am not able to download the csv file

![Image](https://user-images.githubusercontent.com/64146636/200741352-f98782ce-e994-41bd-b968-d216ecaaeef4.png)

Select state with district option from dropdown and clicked on download report - csv file is not downloading

![Image](https://user-images.githubusercontent.com/64146636/200741455-

[2022-11-09 04:54] PavitraIR commented on #441
@chetandg123 please emit latest static and  data files with current date.

[2022-11-09 05:11] chetandg123 opened #707 "Regression Defect - Progress Card Reports"
**Defect 1:** **Click to Access Report** link text should be shown in blue color instead of black (cQube-3.7 in blue color of link text)  - **Resolved**

**Defect 2:** For 100% Browser resolution - Click to access report link is not aligned properly for below 3 report across all levels of page - **Resolved**

![Image](https://user-images.githubusercontent.com/64146636/200744574-8059f438-7cf6-4f51-

[2022-11-09 05:21] chetandg123 commented on #441
@RNarmatha
Navigate to Progress card - Blue Box information not aligned properly - **Resolved**

In Blue Box - Total Schools value is not displaying - **Not Fixed**

[2022-11-09 05:23] chetandg123 commented on #707
On CRC Card i-tag info missing **Data from Date and Data upto Date info** - **Minor**

![Image](https://user-images.githubusercontent.com/64146636/200745610-fc7ef515-02ca-4429-8e0b-7f76a317c47a.png)

[2022-11-09 05:24] chetandg123 commented on #698
Completed the Progress card regression testing , found few defects - created ticket with descriptions - #707 and assigned to respective developers

- [ ] Progress Card

[2022-11-09 05:34] chetandg123 commented on #666
- [ ]  Choose course dropdown having more width - **Not Fixed**

- [ ] if select the last 30 days option from the time range, if does not have data then should be displayed as 'No data found' or 'No data available' instead of showing an empty screen - Resolved

- [ ] if any heat chart cell does not tooltip (white empty cells) does not show any tool tip earlier cQube - Not Fixed

[2022-11-09 05:36] chetandg123 commented on #672
Re-Tested not fixed

[2022-11-09 05:38] chetandg123 commented on #694
Re-tested the defect is **Resolved**

![Image](https://user-images.githubusercontent.com/64146636/200747786-76652908-15bb-4ac1-999e-bd4d30900c09.png)

[2022-11-09 05:45] dhanush-2397 commented on #675
@chetandg123 Please take a re-test.

[2022-11-09 06:09] chetandg123 commented on #675
@RNarmatha @dhanush-2397
Re-tested the defect - **Resolved** - now working as expected able to download csv file in all the levels.

[2022-11-09 06:38] dhanush-2397 commented on #704
@chetandg123  The table headers are aligned to center. If the word is too big then only the first 10 characters of the word will be displayed.
Please take a re-test

[2022-11-09 06:39] dhanush-2397 commented on #663
@chetandg123 Download Academic Year data link text color is changed. Please take a re-test.

[2022-11-09 07:31] TanushreeSG opened #708 "Dropdown allignment issue"
Student performance
Choose a block and choose a cluster Dropdowns are not alligned properly
![Image](https://user-images.githubusercontent.com/114054046/200766203-a9a09d65-b55f-4491-abc7-393f4d90c06b.png)

Textbook distribution (Textbook distribution LO table and map)

Choose a block and choose a cluster Dropdowns are not alligned properly and font size is different compare to other dropdown
![Ima

[2022-11-09 08:55] chetandg123 commented on #704
Re-tested the defect is **Resolved** , now working as expected

![Image](https://user-images.githubusercontent.com/64146636/200784951-6bd7ddd9-9433-42bc-9041-64fb0f046aea.png)

[2022-11-09 08:57] chetandg123 commented on #663
Re-Tested the defect - **Resolved**

![Image](https://user-images.githubusercontent.com/64146636/200785193-6af04e68-3d55-43be-bca6-a9b618d49b80.png)

[2022-11-09 10:53] chetandg123 commented on #701
@Inchara98 just do ui deployment in demo3 or demo6 re test the defect

[2022-11-09 11:00] Inchara98 commented on #701
working as expected

![Image](https://user-images.githubusercontent.com/89445054/200813039-193e059d-6b97-4c3f-ac13-15191c5b4dfe.png)

[2022-11-09 11:01] #701 closed

[2022-11-09 11:22] murali003 commented on #707
@FaizanMohammed326 data is there in the output bucket please look into it.

[2022-11-09 12:17] FaizanMohammed326 commented on #669
in issue 1 , in the new implmentation of map reports, we are zooming the map automatically to the markers present in the map. so when there is only one marker the map will be zoomed in around it.

[2022-11-09 12:31] chetandg123 commented on #669
Re-tested this defect - **Resolved**

[2022-11-09 12:33] Inchara98 commented on #700
working as expected

![Image](https://user-images.githubusercontent.com/89445054/200831443-3c265193-278d-4c4c-bdc9-93f4cada2b5d.png)

[2022-11-09 12:33] #700 closed

[2022-11-10 04:10] devu1454 opened #709 "File format issue for VSK"
Emitted the main_metrics and vsk files through the ingestion api.
Issue : file is processed successfully but output format is not proper (ie : main_metrics_20221110093338.json)

[2022-11-10 04:14] asifbasha61 commented on #705
There was a problem with gunicorn service in the machine which has been tested.
I have retested by changing gunicorn version and the current version which in implemented in cqube.
Everything working as expected.

[2022-11-10 04:18] FaizanMohammed326 commented on #702
There are no files generated for last_30, last_7 and last day time periods. so the no data message is displayed.

[2022-11-10 04:23] nstinu commented on #685
KT topics completed till 9/11/2022

31/10/2022- On cQube Architecture
07/11/2022- Static DataSources
08/11/2022- Postgresql Concepts:- Upsert, Percentile, Joins, Inner Queries.
09/11/2022- Postgresql Concepts:- Union-Intersection, Constraints, Views, MV's, Indexes

[2022-11-10 05:41] TanushreeSG opened #710 "Y axis is not displaying properly in Diksha report"
Y axis is not displaying properly
Diksha (Learning sessions)

![Image](https://user-images.githubusercontent.com/114054046/201009585-71d97a88-33a6-4e9b-8cd4-1fcf30bcee23.png)

[2022-11-10 05:59] Inchara98 commented on #677
Textbook map report :
Size of the block ,cluster ,school button is large when compared to other reports

[2022-11-10 06:00] dhanush-2397 commented on #672
@chetandg123 Please take a retest.

[2022-11-10 06:25] Inchara98 opened #711 "Lo table issue (midday meal )"
Values in the agra district lo table is not indicating by the colour displaying in the legend

![Image](https://user-images.githubusercontent.com/89445054/201016107-d76e7cff-a12e-4142-9dad-188c3fbdcc55.png)

**Issue 2 :** Choose time range - year and month
month - November
issue : weeks are not displaying in the select week dropdown

Issue3 : Subject column is displaying in Lo table

**Issue 4:**

[2022-11-10 06:32] chetandg123 commented on #677
@RNarmatha
Re-tested the above defects are all - **Not Fixed** except
6.Blocks and cluster names are bold - **Resolved**

[2022-11-10 06:33] chetandg123 opened #712 "Regression Defect - TextBook Distribution Lo & Map"
TextBook Distribution:
------------------------------
**Defect 1** - Grade options should be not include under score special character between grade and number
Example :
**Actual Options:** Grade_4 , Grade_5 , Grade_6
**Expected Options:** Grade 4 , Grade 5 , Grade 6

**Defect 2** - Subject names should be displayed as in Camel cases in dropdown as well as table and map report
**Actual Options:**

[2022-11-10 07:08] PavitraIR commented on #441
@chetandg123 please emit the appropriate udise file, so that total_students value will be displayed.

[2022-11-10 07:39] chetandg123 commented on #664
Re-tested the above defects - are **Resolved**

[2022-11-10 07:40] chetandg123 commented on #672
ReTested the above defects are **Resolved**

[2022-11-10 09:11] #663 closed

[2022-11-10 09:11] #664 closed

[2022-11-10 09:11] #669 closed

[2022-11-10 09:11] #672 closed

[2022-11-10 09:12] #675 closed

[2022-11-10 09:12] #704 closed

[2022-11-10 09:23] chetandg123 commented on #662
@dhanush-2397 Re-tested not fixed , still some of indices are showing without 0 if value is not present

![Image](https://user-images.githubusercontent.com/64146636/201051523-502dd1ca-3dc2-4df8-8cf6-117d2723c5fc.png)

[2022-11-10 09:30] devu1454 commented on #705
Tested in a new server. Working as expected

[2022-11-10 10:16] FaizanMohammed326 commented on #707
@padmanabha1234 pls check defect 5 .
 progressCard/school_management_category/overall/overall_category/govt/stateData.json.
the value for data from date and data upto date are both  null.

[2022-11-10 10:50] padmanabha1234 commented on #707
@PavitraIR Query is returning the null values, please look into this.

[2022-11-10 11:11] chetandg123 opened #713 "Regression Defect - When select other academic year option - default month selection is not selected"
Select year and month option from time period
- Select another academic year -> month is not selected by default
**For Periodic Map Report , Student Attendance , Teacher Attendance** , **Student attendance Exception and Teacher attendance Exception**

![Image](https://user-images.githubusercontent.com/64146636/201076148-32184c9a-b3ac-4170-832a-7c494c675a75.png)

![Image](https://user-images.github

[2022-11-10 11:16] chetandg123 opened #714 "Regression Defect - Usage by Course - Course Dropdown width is small"
Course dropdown should be required more width because unable to see complete course name

![Image](https://user-images.githubusercontent.com/64146636/201077299-b9baf9d1-1094-48e8-9f2a-9f4c2d232b77.png)

[2022-11-10 11:38] FaizanMohammed326 commented on #702
@padmanabha1234 or @murali003  can u check if data is present for all the timeperiods.

[2022-11-10 11:48] chetandg123 commented on #714
**Select any course option from user progress report - Download Report button is not aligned properly**

![Image](https://user-images.githubusercontent.com/64146636/201083052-53a6c2a8-de40-4bf7-ba0c-fd00c2d7d3df.png)

[2022-11-11 03:57] chetandg123 opened #715 "Regression Defect - User Engegement Report showing no data available"
After processing yesterday summary data file to diksha , still we are not able to see data in user engegement
machine - demo3
Bucket - qa10

![Image](https://user-images.githubusercontent.com/64146636/201260099-63433f40-5c6c-490f-9079-57a6b7ab738e.png)

[2022-11-11 04:15] chetandg123 commented on #666
Retested defects

- [ ] Choose course dropdown having more width - **Resolved**

- [ ]  if any heat chart cell does not tooltip (white empty cells) does not show any tool tip earlier cQube - **Resolved**

[2022-11-11 04:20] devu1454 commented on #697
In courses-> user engagement report is not showing

[2022-11-11 04:20] #697 closed

[2022-11-11 04:22] FaizanMohammed326 commented on #707
Defect 1, 2 and 3 are fixed.

[2022-11-11 05:28] padmanabha1234 commented on #715
@PavitraIR The data is processed with latest date, query is not returning any data. please look into this

[2022-11-11 06:04] chetandg123 commented on #662
Re-tested the defect now working as expected

[2022-11-11 06:46] chetandg123 commented on #707
@FaizanMohammed326 Re-tested above defects
Defect 1 - Resolution issue - **Resolved**
Defect 2 - Access to Progress card - link color - **Resolved**
Defect 3 - No data found error alignment issue - **Resolved**

![Image](https://user-images.githubusercontent.com/64146636/201279938-23411840-b604-4b7f-9dcc-a97f3d7f6164.png)

![Image](https://user-images.githubusercontent.com/64146636/201279952-4fc88

[2022-11-11 07:07] PavitraIR commented on #707
@chetandg123  The year and month in crc_inspection_trans table and crc_location_trans table doesn't match and in a query we are joining these two tables checking for matching year and month columns.because of this reason,data from date and data upto date are displayed as null.

[2022-11-11 07:21] chetandg123 commented on #707
@PavitraIR so what is the solution now how do get those value ?

[2022-11-11 07:29] padmanabha1234 commented on #668
@dhanush-2397 time_periods data is generated in the output bucket. Please look into this issue.

[2022-11-11 07:53] PavitraIR commented on #707
@chetandg123 please emit appropriate data file into crc_inspection_trans table and crc_location_trans with proper year and month values along with proper visit_date in location_trans file.

[2022-11-11 08:09] PavitraIR commented on #715
@chetandg123 The collection name and district id in diksha_total_content table and diksha_tpd_agg table doesn't match and in the query we are joining these two tables using those columns.

So please emit appropriate data file into diksha_total_content and dikha_tpd_agg with matching data for collection_name, and district_id ,

[2022-11-11 08:38] chetandg123 commented on #715
@devu1454 can you check above update

[2022-11-11 10:17] dhanush-2397 commented on #668
@padmanabha1234 Please add files to cqube-qa6-output bucket.

[2022-11-11 12:15] padmanabha1234 commented on #668
@chetandg123 Please emit the diksha_enrollment file with latest enrollment date, completion date and process it

[2022-11-11 12:18] chetandg123 commented on #668
@RNarmatha @padmanabha1234 QA machine we are providing to you only verify or find out the route cause of issue , please use your development server

[2022-11-11 12:21] padmanabha1234 commented on #711
@dhanush-2397 meta data is updated in output. please look into this

[2022-11-11 13:25] FaizanMohammed326 commented on #712
Defect 1,2,3 and 5 resolved.

[2022-11-14 02:56] devu1454 commented on #709
Gunicorn services are not running after installation. Due to this, Issue is not tested

[2022-11-14 03:46] chetandg123 commented on #698
Completed round of regression testing on cQube reports and admin console

[2022-11-14 04:04] Shoaib15khan commented on #705
Azure implementation have been removed. @devu1454 please take retest .

[2022-11-14 04:13] Inchara98 commented on #690
working as expected

[2022-11-14 04:13] #690 closed

[2022-11-14 05:39] devu1454 opened #716 "Installation failed at TASK [database_backup : setup the cron job]"
Installed the cQube 4.1 with cron_syntax: ‘ */30 * * * * ‘
Issue : TASK [database_backup : setup the cron job] ***********************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["su", "-", "ubuntu", "-c", "/usr/bin/crontab /opt/cqube/postgres

[2022-11-14 06:26] chetandg123 commented on #668
@RNarmatha @htvenkatesh

me and @murali003 Re-processed the latest data set for diksha tpd which is having date as enrollment and completion date as 1/11/2022 and 12/11/2022 now we are able to see all time periods data except last day because 12th is not occures in last day

this defect is resolved and working as expected

[2022-11-14 06:30] chetandg123 commented on #671
@htvenkatesh re-tested this defect - working as expected

[2022-11-14 06:49] #668 closed

[2022-11-14 07:44] chetandg123 commented on #712
@htvenkatesh @FaizanMohammed326
Re-tested the defect please find the below updates
Defect 1 : **Resolved**
Defect 2 : **Resolved**
Defect 5:  **Resolved**

Defect 3:
Time period drop down options for lo table having camel and sorted order but In map report - **Not Fixed**

![Image](https://user-images.githubusercontent.com/64146636/201602974-26f4a7e3-0d88-43a2-aeb1-f7cbc96c1343.png)

[2022-11-14 07:46] chetandg123 commented on #712
@dhanush-2397 could you please fix above issue (defect 3 - for map time period options should be in camel case and order wise )

[2022-11-14 10:30] dhanush-2397 commented on #711
Issues 1 , 2 and 4 are resolved.
Regarding issue 3 the subject column will be shown with no data text.
@htvenkatesh  Fyi this was the implementation discussed before for subject column for Mid day meals.

[2022-11-14 10:31] dhanush-2397 commented on #712
@chetandg123 Please retest.

[2022-11-14 10:33] devu1454 commented on #705
Working as expected

[2022-11-14 10:33] #705 closed

[2022-11-14 10:33] devu1454 commented on #709
Issue is resolved. Working as expected

[2022-11-14 10:33] #709 closed

[2022-11-14 10:40] chetandg123 commented on #712
@htvenkatesh @dhanush-2397
Re-tested the Defect 3 is **Resolved**

[2022-11-14 10:43] Inchara98 commented on #711
Issue 1 , 2 and 4 resolved

Issue 5 : Selected grade is not displaying in the LO table

[2022-11-14 10:58] chetandg123 commented on #677
**Defect 7:** when we select grade and subject - legend card showing 0 for all the buttons

[2022-11-14 11:04] chetandg123 commented on #715
@htvenkatesh
@padmanabha1234
Data present in the data base and in output files are generated with null

[2022-11-14 12:19] RNarmatha opened #717 "National VSK enhancement | DiSanc Survey"
There is a request for a few urgent changes within the NCF program in National VSK. Attached are the CSV files with the data incorporated.
A Separate tab by the name DiSanc survey should be incorporated within the NCF program. Two charts showing the countrywide heat map and the bar chart should be shown side by side.
Country-wide heat map showing state-wise Disanc survey done
Bar chart showing lan

[2022-11-14 12:27] pandutibil commented on #717
New reports has added in the national curriculum framework

[2022-11-14 12:32] pandutibil commented on #717
@devu1454 Please test this

[2022-11-14 13:17] TanushreeSG opened #718 "Legend issues in NVSK"
PM Poshan(Implementation status)

![Image](https://user-images.githubusercontent.com/114054046/201669677-9d3804eb-2c7d-48c9-a880-a338abd5e35b.png)

Micro improvements (Improvement status)
![Image](https://user-images.githubusercontent.com/114054046/201669729-3b1a31a7-2afb-40d0-8fff-d69d16654b87.png)

Micro improvements (Implementation status)
![Image](https://user-images.githubusercontent.com/1140

[2022-11-14 13:27] Inchara98 opened #719 "Issue in Disanc Survey (NCF-NVSK)"
NCF - Disanc Survey
**Issue 1 :** All Languages in the y-axis are in BLOCK letters

![Image](https://user-images.githubusercontent.com/89445054/201670981-aafdd3a7-5e5b-4634-8c0e-2d7feddc66cc.png)

**Issue 2** :Values not separated by comma in tooltip

![Image](https://user-images.githubusercontent.com/89445054/201671670-a2d3797a-55aa-45e8-8d1a-e1fe85fce043.png)

**issue3**: Download button is not

[2022-11-14 13:28] TanushreeSG opened #720 "Table allignment issue in NVSK"
Table allignment is not proper
NAS (grade and subject performance)

![Image](https://user-images.githubusercontent.com/114054046/201671967-4b34c0f2-64e5-4826-98da-01cabf63b91a.png)

[2022-11-14 13:35] Inchara98 commented on #717
These are the few issues in NCF - Disanc Survey
**Issue 1 :** All Languages in the y-axis are in BLOCK letters

![Image](https://user-images.githubusercontent.com/89445054/201670981-aafdd3a7-5e5b-4634-8c0e-2d7feddc66cc.png)

**Issue 2** :Values not separated by comma in tooltip

![Image](https://user-images.githubusercontent.com/89445054/201671670-a2d3797a-55aa-45e8-8d1a-e1fe85fce043.png)

**issue

[2022-11-14 13:39] Inchara98 commented on #718
Udise
2 legends are displaying

![Image](https://user-images.githubusercontent.com/89445054/201674490-dbefd86f-72df-426d-80ff-524d663cff27.png)

[2022-11-15 04:03] devu1454 commented on #715
Re-processsed the same data again. Data is displayed

[2022-11-15 04:03] #715 closed

[2022-11-15 04:30] Ramya-kmurthy opened #721 "Analysing the SAT KPIs"
To identify the required :
 Cubes
 List dimensions
 Events required for the KPIs

[2022-11-15 10:36] Inchara98 commented on #717
@FaizanMohammed326 issue 1 not resolved

[2022-11-16 05:22] devu1454 opened #722 "Karate testing framework training"
1.**Contents**
1.1.**Overiew of Karate framework**   --------------------------------- 1 hr
1.2.**Environment setup -**-------------------------------------------- 2 hr
1.2.1.Installation Java
1.2.2.Installation IDE
1.2.3.Maven Plugins (Karate core,Karate Apache & Karate JUnit5)
1.3.**Understanding of karate framework terminologies** --------------- 2 hr
1.3.1.Feature
1.3.2.Scenario
1.3.3.Given
1.

[2022-11-16 05:31] TanushreeSG opened #723 "Jmeter tool training"
Jmeter - Topics

- [x] How to do API testing using Jmeter tool
- [x] How to create 1st jmeter test
- [x] How to use assertion
- [x] How to use listners
- [ ] Config elements
- [ ] How to create database test plan
- [ ] How to run jmeter from command line
- [ ] Testing web services API
- [ ] How to create assertion for database testplan
- [ ] How to create HTML reports from command line
- [ ] How t

[2022-11-16 05:48] chetandg123 commented on #722
Need to go through this points:

- [ ] What is karate ? why it is used ?

- [ ] What are required dependencies using karate ?

- [ ] How API logic can be written and how the response validations can be done ?

- [ ] How is the karate framework works and how the testing reports can be generated ?

- [ ] Setup karate framework in the local system

[2022-11-16 09:10] bommalla opened #724 "Javascript training"

[2022-11-16 10:32] FaizanMohammed326 opened #725 "Javascript Basic Concepts Checklist for 16Nov"
Concepts to be covered in Javascript:

- Javascript Basics
- Grammar and Tpyes
- Control Flow and Error Handling
- Loops and Iteration.

[2022-11-16 10:32] dhanush-2397 opened #726 "Javascript basics for 16-11-2022"
Javascript Basic concepts to be covered on 16-11-2022

JavaScript basics
Grammar and types
Control flow and error handling
Loops and iteration

[2022-11-16 10:37] pandutibil opened #727 "Introduction to Javascript"
Introduction to JavaScript

What is JavaScript?

[2022-11-16 10:38] pandutibil opened #728 "Grammar and types in JavaScript"
Learn about Grammar and types in JavaScript and implement a sample programs based on your understanding.

[2022-11-16 10:39] ramyar210 commented on #725
- [ ] Javascript Basics
- [ ] Grammar and Types
- [ ] Control Flow and Error Handling
- [ ] Loops and Iteration.

[2022-11-16 10:40] murali003 commented on #725
- [ ] Javascript Basics
- [ ] Grammar and Tpyes
- [ ] Control Flow and Error Handling
- [ ] Loops and Iteration.

[2022-11-16 10:41] pandutibil opened #729 "Control flow and error handling in JavaScript"
Learn about control flow and error handling in JavaScript and implement a sample programs based on your understanding

[2022-11-16 10:45] pandutibil opened #730 "Loops and iteration in JavaScript"
Learn about loops and iteration in JavaScript and implement a sample programs based on your understanding

[2022-11-16 11:11] htvenkatesh opened #731 "1.1 Introduction - NodeJS"
-Please refer the following link

https://drive.google.com/drive/folders/10jSo8RKZ_tp0HoyEQcOxKDJWD5OAZBEK

Topics

- [ ] [What is NodeJs](https://github.com/Sunbird-cQube/community/issues/732)
- [ ] [Installing Node js and creating our first app](https://github.com/Sunbird-cQube/community/issues/733)
- [ ] [Understanding the roles Usage of Node js](https://github.com/Sunbird-cQube/community/issue

[2022-11-16 11:13] htvenkatesh opened #732 "1.2 What is Node js"
Main task
[Introduction to Node js](https://github.com/Sunbird-cQube/community/issues/731)

[2022-11-16 11:17] htvenkatesh opened #733 "1.3 Installing Node js and creating our first app"

[2022-11-16 11:17] htvenkatesh opened #734 "1.4 Understanding the role usage of Node js"

[2022-11-16 11:18] htvenkatesh opened #735 "Course Outline"

[2022-11-16 11:18] htvenkatesh opened #736 "How To Get The Most Out Of The Course"

[2022-11-16 11:18] htvenkatesh opened #737 "Working with the REPL vs Using FIles"

[2022-11-16 11:19] htvenkatesh opened #738 "1.8 Using the Attached Source Code"

[2022-11-16 11:25] Inchara98 commented on #723
Completed topics list - Nov16

- How to create 1st Jmeter test
- How to use assertions
- How to use listeners
- JSON extractor task given by vinay

[2022-11-16 11:27] TanushreeSG commented on #723
Completed topics list - Nov16

How to create 1st Jmeter test
How to use assertions
How to use listeners
JSON extractor task given by vinay

[2022-11-16 11:29] RNarmatha opened #739 "2.Javascript"

[2022-11-16 11:30] RNarmatha opened #740 "2.1 Module Introduction"

[2022-11-16 13:49] Ramya-kmurthy commented on #727
Explored the concept of JavaScript

[2022-11-16 13:49] #727 closed

[2022-11-16 13:50] Ramya-kmurthy commented on #728
Explored Grammar and types in JavaScript and implemented the sample script.

[2022-11-16 13:50] #728 closed

[2022-11-16 14:44] devu1454 commented on #722
Completed the Karate framework training from 1.1 to 1.6 using eclipse ide

[2022-11-16 14:49] chetandg123 commented on #722
Completed the analysing the karate framework from 1.1 to 1.5 topics

[2022-11-16 15:03] Ramya-kmurthy commented on #729
explored about control flow and error handling in JavaScript and implemented  sample programs

[2022-11-16 15:03] #729 closed

[2022-11-17 00:46] bommalla commented on #728
I gone through the Grammar and types in JavaScript and implemented the sample script.

[2022-11-17 00:47] bommalla commented on #729
I gone through the control flow and error handling in JavaScript and implemented sample programs

[2022-11-17 00:49] bommalla commented on #727
I gone through the introduction of JavaScript

[2022-11-17 03:19] PavitraIR commented on #727
I gone through the  JavaScript basics

[2022-11-17 03:20] PavitraIR commented on #728
I gone through the Grammar and types in JavaScript and implemented the sample script

[2022-11-17 03:22] PavitraIR commented on #729
gone through the control flow and error handling in JavaScript and implemented sample programs.

[2022-11-21 02:46] devu1454 commented on #722
Completed the Below topics in APi_Automation using karate framework in udemy course
1.First get request
2.Url and path
3.Simple assertions
4.First post request
5.Runner configuration and tags
6.Delete request
7.Calling other features
8.Environment variables

[2022-11-21 03:43] JalajaTR commented on #721
Listed all the Cubes and dimensions for SAT KPI's and the document link is added below
[https://docs.google.com/spreadsheets/d/1y7-GR0SrIDHGA9Jj-A5FPqLdJ-SjgWUEU-xgVcKSNIo](Document)

[2022-11-21 03:45] #721 closed

[2022-11-21 04:37] JalajaTR opened #741 "Analyzing the PAT KPI's and identifying the required Cubes and Events"
Working on finding the optimisation techniques to optimise the Events and Cubes

[2022-11-22 05:29] htvenkatesh opened #742 "Data generator - Py script to generate data for API, nifi"
Python script to generate the 100k data for the usecase purpose and write it into the csv file

[2022-11-22 05:33] htvenkatesh opened #743 "API performance"

[2022-11-22 05:36] htvenkatesh opened #744 "Nifi performance"
Nifi performance - csv (event) + processor group → python transformer → output csv

     Input: csv (school_id, grade_id, count) - count of students by school, grade - 5k records
     Output: csv (school_id, count) - count of students by school

     Input: csv (Date,school_id, grade_id, total_sudents,students_attended) - percentage of students by grade,
               5k records
     Output: csv

[2022-11-22 05:40] htvenkatesh opened #745 "API to compile new processor group"
API to compile new processor group

[2022-11-22 11:12] RNarmatha opened #746 "Mauritius Dummy Data for VSK"
We are trying to set up a cQube demo instance with dummy data for Mauritius. In this demo, we would like to use the configurations developed for State VSK with the following changes.

NISHTHA -> Teacher Training
DIKSHA ETB -> Digital Content
PGI -> Performance Indicators
NAS -> National Assessment
UDISE -> Infrastructure
PM Poshan -> Food and Nutrition
Last Updated Date: 18 Oct 2022 (only for this

[2022-11-29 09:09] pandutibil opened #747 "Fix the production issues in the VSK"
- [x] Fix the bar chart rendering issue at % potential tab in the DIKSHA
- [x] Change the report title to "Number of QR codes linked to Textbooks" in the ETB Coverage status of DIKSHA
- [x] Fix the location issues of Chhatisgarh